.sidebar-items {
  background-color: #fff;
  position: fixed;
  top: 80px;
  right: 0;
  width: 278px;
  height: calc(100% - 80px);
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0 16px 0 7px;
  transform: translate(100%);
  transition: all 0.3s linear;
  z-index: 999999999;
}

.sidebarItems-container {
  position: fixed;
  top: 80px;
  right: 5px;
  width: 278px;
}

.sidebarItems-container .arrow {
  position: absolute;
  top: 53px;
  left: 0;
  width: 50px;
  height: 50px;
  background-color: #fff;
  transform: rotate(-45deg);
}

.ant-layout-sider-collapsed + section .sidebar-items {
  width: 110px;
}
.show-sidebar {
  transform: translate(0);
}

.sidebar-items .sidebar-header {
  margin: 40px 0;
  position: relative;
}
.sidebar-items .sidebar-header svg {
  position: absolute;
  left: 10px;
  top: 6px;
  cursor: pointer;
}

.sidebar-items .sidebar-header h6 {
  color: #000;
  font-size: 18px;
}
.sidebar-items .sidebar-header h6.title {
  text-align: center;
}
.sidebar-items .sidebar-header h6.title-sm {
  text-align: right;
  display: none;
}

.ant-layout-sider-collapsed + section .sidebar-items .sidebar-header .title {
  display: none;
}
.ant-layout-sider-collapsed + section .sidebar-items .sidebar-header .title-sm {
  display: block;
}

.sidebar-items .links {
  padding-right: 17px;
}
.ant-layout-sider-collapsed + section .sidebar-items .links {
  padding-right: 0px;
}

.sidebar-items .links li {
  margin-bottom: 15px;
  padding: 3px;
  display: flex;
  cursor: pointer;
}
.sidebar-items .links li.active {
  background: rgba(0, 32, 68, 0.05);
  border-radius: 4px;
}

.sidebar-items .links li .number {
  display: none;
}
.ant-layout-sider-collapsed + section .sidebar-items .links li .number {
  display: block;
}

.sidebar-items .links li .icon {
  width: 36px;
}

.sidebar-items .links svg {
  margin-left: 18px;
}
.ant-layout-sider-collapsed + section .sidebar-items .links svg {
  margin-left: 0px;
}
.sidebar-items .links a {
  color: #002044;
  display: block;
}
.ant-layout-sider-collapsed + section .sidebar-items .links a {
  display: none;
}

/* width */
.sidebar-items::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.sidebar-items::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
.sidebar-items::-webkit-scrollbar-thumb {
  background-color: rgba(0, 32, 68, 0);
  border-radius: 8px;
}
.sidebar-items:hover::-webkit-scrollbar-thumb {
  background: rgba(0, 32, 68, 0.08);
  border-radius: 8px;
}