input.darkGrey-input {
  height: 42px;
  background: #efefef;
  color: #000;
  border: 1px solid #efefef;
  border-radius: 5px;
  padding: 8px;
}
input.darkGrey-input::placeholder {
  color: #7d7d7d;
}

.darkGrey-input.ant-input-disabled {
  color: #000;
  border-color: #efefef;
  background-color: #efefef;
}
