.ant-picker {
  padding: 0 !important;
  padding-left: 8px !important;
  background: #ffffff;
  border: 1px solid #b4b5b8;
  border-radius: 5px;
  margin: 0 8px;
}

.inline-input .ant-picker-input {
  height: 40px;
}

.inline-input .ant-picker-input input {
  padding: 8px;
}

.inline-input .ant-picker-input input::placeholder {
  color: #7d7d7d;
}

.ant-picker-focused {
  border-color: unset;
  box-shadow: unset;
  border-right-width: 1px;
  outline: 0;
}

.ant-picker:hover, .ant-picker-focused {
  border-color: unset;
  border-right-width: 1px;
}

.ant-picker svg {
  fill: #4B506D;
}