input.ant-input {
  color: #000;
  font-weight: 600;
}

.ant-form-item-label {
  margin-bottom: 0 !important;
  text-align: right !important;
}

.ant-input-affix-wrapper {
  padding: 0 !important;
  border: none;
}

input.ant-input:focus {
  box-shadow: none !important;
}
input.ant-input:hover {
  border-color: #002044;
}

.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
  border-color: unset;
  box-shadow: none;
  border-right-width: 0px;
  outline: 0;
}

.ant-input:focus,
.ant-input-focused {
  border-color: unset;
  box-shadow: none !important;
}

// Percentage icons
.percentage {
  position: absolute;
  top: 8px;
  left: 14px;
  color: #002044;
  font-size: 14px;
}
.percentage-gold {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 8px;
}