.ant-card {
  border-radius: 5px;
}
.ant-card-head-wrapper {
  padding-top: 10px;
  padding-bottom: 13px;
}
.ant-card-head {
  border-bottom: 0;
}
.ant-card-head-title {
  font-size: 18px;
  font-weight: 500;
  color: #000;
}
.ant-card-body {
  padding: 0;
}

.under-construction-btn {
  color: #6f767e;
  font-weight: 600;
  font-size: 14px;
  border: 2px solid #6f767e3f;
  border-radius: 8px;
}
.under-construction-btn span {
  margin-right: 5px;
}