.record-card-items {
  border: 1px solid #848484;
  border-radius: 0px 0px 5px 5px;
  overflow: hidden;
  position: relative;
}
.record-card-items .scroll-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}
.record-card-items .header {
  background: #002044;
  box-shadow: inset 0px -1px 0px #EDF2F7;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.record-card-items .header p {
  margin-bottom: 0;
  color: #fff;
}

.record-card-items .header p.title {
  font-weight: 600;
  font-size: 18px;
  margin-left: 48px;
  line-height: 20px;
}

.record-card-items .content {
  padding: 24px 8px;
  background-color: #fff;
}