@import './policyHoldersData/policy-holders-data';

.investment-data-form {
  margin: 28px 0;
}

.investment-data-form label {
  margin-bottom: 10px;
}

.investment-data-form input {
  background: #fcfdfe !important;
  border: 1px solid #efefef !important;
  color: #ba902e !important;
}
