.navigate {
  margin-top: 56px;
}

.navigate .btn.prev,
.navigate .btn.next {
  height: 50px;
  font-size: 18px;
  border-radius: 5px;
}

.navigate .btn.prev {
  width: 184px;
  background: #ddd;
  color: #050505;
}
.navigate .btn.next {
  width: 230px;
  background: #002044;
  color: #ffffff;
}

.navigate .btn svg {
  margin-bottom: 2px;
}

.navigate .btn.prev svg {
  margin-left: 13px;
}
.navigate .btn.next svg {
  margin-right: 13px;
}