.btn.download-Shareholder-form {
  padding: 9.6px 19.2px;
  background: #002044;
  border: 1.2px solid #416a98;
  border-radius: 14.4px;
  color: #ffffff;
  font-weight: 500;
  font-size: 16.8px;
}
.btn.download-Shareholder-form svg {
  margin-left: 8px;
}