.btn.upload-Shareholder-form {
  padding: 9.6px 19.2px;
  background: #fff2d5;
  border: 1.2px solid #fdefd0;
  border-radius: 14.4px;
  color: #BA902E;
  font-weight: 500;
  font-size: 16.8px;
}
.btn.upload-Shareholder-form svg {
  margin-left: 8px;
}