.ant-layout-header {
  height: 80px;
  background: #002044;
  position: fixed;
  left: 0;
  z-index: 1000;
  width: calc(100% - 278px);
}
.ant-layout-header.collapsed {
  width: calc(100% - 110px);
}

.ant-layout-header {
  background-color: #002044;
  padding-right: 41px;
  padding-left: 51px;
  height: 80px;
}

.navbar-collapse {
  padding-left: 51px;
  height: 80px;
}

// ant-layout-header rightside
.ant-layout-header .right-side {
  margin-right: 30px;
}

.ant-layout-header .right-side svg {
  color: #fff;
  font-size: 40px;
}

.ant-layout-header .search {
  margin-right: 47px;
}

.ant-layout-header .search svg {
  color: #6f767e;
  font-size: 26px;
}

.ant-layout-header .search input {
  padding-right: 48px;
  border-radius: 12px;
  width: 275px;
  height: 40px;
  font-size: 14px;
  caret-color: #4c6fff;
  background-color: #f4f4f4;
  border-color: #002044;
}

.ant-layout-header .right-side .form-control:focus {
  color: #4c6fff;
  background-color: #f4f4f4;
  border-color: #002044;
  outline: 0;
  box-shadow: unset;
}

// ant-layout-header leftside

.ant-layout-header .left-side .notification {
  position: relative;
  cursor: pointer;
}

.ant-layout-header .left-side .circle {
  position: absolute;
  top: 36%;
  right: 5%;
  background: #ba902e;
  border-radius: 12px;
  width: 10px;
  height: 10px;
}

.ant-layout-header .left-side .avatar {
  margin-right: 31px;
}

.ant-layout-header .left-side svg {
  color: #bfc8d1;
  font-size: 26px;
}

.ant-layout-header .left-side p {
  color: #fff;
  margin-right: 11px;
}