/* Layout */
/* width */
aside ::-webkit-scrollbar {
  width: 5px;
}

/* Track */
aside ::-webkit-scrollbar-track {
  // box-shadow: inset 0 0 5px #fff;
  border-radius: 10px;
}

/* Handle */
aside ::-webkit-scrollbar-thumb {
  background-color: rgba(0, 32, 68, 0);
  border-radius: 8px;
}

aside:hover ::-webkit-scrollbar-thumb {
  background-color: rgba(0, 32, 68, 0.08);
}

/* 1) SideNav */
.ant-menu {
  padding-top: 30px;
  padding-bottom: 30px;
}

.ant-layout-sider {
  background: #fff;
}

.ant-layout-sider {
  min-width: 278px !important;
  width: 278px !important;
}

.ant-layout-sider.ant-layout-sider-collapsed .ant-layout-sider-children,
.ant-layout-sider.ant-layout-sider-collapsed {
  width: 110px !important;
  min-width: 110px !important;
}

.ant-layout-sider-children {
  position: fixed;
  width: 278px !important;
}

.ant-menu.ant-menu-root.ant-menu-inline.ant-menu-light {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 80px);
}

.ant-menu-item,
.ant-menu-submenu-title {
  min-height: 48px;
}

.ant-menu-item.ant-menu-item-only-child .ant-menu-title-content {
  font-weight: 400 !important;
}

.ant-layout-sider-children .logo {
  background-color: #002044;
  height: 80px;
  padding: 10px 41px 9px 20px;
  overflow: hidden;
}
.ant-layout-sider-children .logo img {
  max-width: 100%;
  max-height: 100%;
}

.ant-layout-sider-collapsed .logo {
  padding: 0;
  text-align: center;
  padding-top: 12px;
}
.ant-layout-sider-collapsed .logo img {
  width: 50%;
}

.ant-menu.ant-menu-sub.ant-menu-inline {
  background: #fff;
}

.ant-menu-title-content {
  text-align: right;
}
.ant-menu-submenu-arrow {
  right: unset;
  left: 16px;
}

.ant-menu-item,
.ant-menu-submenu-title {
  padding-right: 32px !important;
}

.ant-menu-item svg,
.ant-menu-submenu-title svg,
.ant-menu-submenu-title svg path {
  stroke: #9a9ab0;
  border-radius: 8px;
  display: block;
  padding: 12px;
  width: 48px;
  height: 48px;
}

.ant-menu-submenu-arrow {
  color: #9a9ab0;
  margin-left: 15px;
  margin-top: 2px;
}

.ant-menu-item span,
.ant-menu-title-content {
  color: #9a9ab0;
  font-size: 16px;
  font-weight: 600;
  margin-right: 8px;
}

.ant-menu-sub .ant-menu-item {
  min-height: 30px !important;
}
.ant-menu-sub.ant-menu-inline > .ant-menu-item,
.ant-menu-sub.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
  height: 30px;
}
.ant-menu-sub .ant-menu-item span {
  font-size: 14px !important;
}

.ant-menu-inline .ant-menu-submenu-title {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  padding-left: unset !important;
}

.ant-menu-inline.ant-menu-root .ant-menu-item {
  margin-top: 5px !important;
  margin-bottom: 10px !important;
  padding-left: unset !important;
}

.ant-menu.ant-menu-sub.ant-menu-vertical li {
  text-align: right;
}
.ant-menu.ant-menu-sub.ant-menu-vertical .minus {
  display: inline-block;
  margin-bottom: 3px;
}

/* Active item */
.ant-menu-item.ant-menu-item-selected {
  background-color: unset !important;
}
.ant-menu-item.ant-menu-item-selected::after {
  border-right: unset;
}
.ant-menu-submenu.ant-menu-submenu-selected svg,
.ant-menu-submenu.ant-menu-submenu-selected svg path,
.ant-menu-item.ant-menu-item-selected svg {
  background-color: #ba902e;
  stroke: #fff;
}

.ant-menu-submenu-arrow:hover,
.ant-menu-submenu-active:hover i {
  color: #ba902e !important;
}

.ant-menu-submenu.ant-menu-submenu-selected .ant-menu-item-selected span {
  color: #ba902e !important;
}
.ant-menu-submenu.ant-menu-submenu-selected .ant-menu-item-selected .minus {
  background-color: #ba902e !important;
}