.risks {
  background: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  margin-top: 12px;
}
.risks .select-header {
  padding: 8px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.risks .select-header.expanded {
  border-bottom: 1px solid #cdcdcd;
}
.risks .select-header h6 {
  color: #000;
  font-weight: 600;
  margin-bottom: 0;
  height: 30px;
  line-height: 30px;
}
.risks .select-header.expanded svg {
  transform: rotate(180deg);
}

// Risk Content
.risks .risks-content {
  max-height: 364px;
  overflow-y: scroll;
  padding: 16px 19px;
}

// scroll
.risks ::-webkit-scrollbar {
  width: 2px;
}
.risks ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #fff;
  border-radius: 10px;
}
.risks ::-webkit-scrollbar-thumb {
  background-color: #bbb !important;
  border-radius: 8px;
}

.risks .risks-content .single-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.risks .risks-content .single-option p {
  padding: 0;
  margin-bottom: 0;
  color: #4b506d;
  font-size: 14px;
}
.risks .risks-content .single-option:not(:last-child) {
  margin-bottom: 12px;
}
.risks .risks-content .single-option .left-arrow {
  margin-left: 30px;
  cursor: pointer;
}

.single-option-items .single-option-items-header {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  cursor: pointer;
}
.single-option-items .single-option-items-header h6 {
  margin-bottom: 0;
  color: #4b506d;
  font-weight: 700;
}
.single-option-items .single-option-items-header .right-arrow {
  transform: rotate(180deg);
  margin-right: 5px;
}
.single-option-items .single-option-items-content > div {
  margin-bottom: 12px;
}
// Checkbox styling
.ant-checkbox + span {
  color: #4b506d;
  font-size: 14px;
}
.risks .ant-checkbox-inner {
  background-color: #fff;
  border: 2px solid #4b506d;
  border-radius: 4px;
  width: 20px;
  height: 20px;
}
.risks .ant-checkbox-checked::after {
  border: 2px solid #4b506d;
  border-radius: 4px;
}

// Added Risks
.added-risks {
  background: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  margin-top: 12px;
  padding: 16px 19px;
}
.added-risks .choosen-item .col-4 {
  margin-top: 10px;
}
.added-risks .choosen-item .col-4 div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ba902e;
  border-radius: 4.3051px;
  padding: 8px;
}
.added-risks .choosen-item p {
  margin-bottom: 0;
  padding: 0 !important;
  color: #fff;
  font-weight: 600;
  margin-right: 8px;
}
.added-risks .choosen-item svg {
  width: 25px;
  height: 25px;
}

.added-risks hr {
  border: 1px solid #e7e7e7;
  margin-bottom: 8px;
}
