@import '~antd/dist/antd.css';

/* General */
hr {
  margin: 0;
}

textarea {
  color: #000;
}

/* input[type="password"] {
  -webkit-text-security: disc;
} */

/* ---------------------------------------- */
.login-page .login-background {
  position: absolute;
  left: 0;
  top: 200px;
  z-index: -1;
}
.login-card {
  background: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  width: 414px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  margin-top: 175px;
  margin-bottom: 175px;
}

.login-card img {
  margin-bottom: 11px;
  margin-top: 12px;
}

.login-card h3 {
  font-size: 19px;
  font-weight: bold;
  line-height: 35.61px;
  color: #002044;
  margin-bottom: 0px;
}

.login-card h2 {
  font-size: 24px;
  font-weight: bold;
  color: #ba902e;
  line-height: 44.98px;
}

.login-card p {
  font-size: 14px;
  color: #9fa2b4;
  line-height: 20px;
}

#login-form {
  width: 100%;
  padding: 0px 35px 47px 35px;
}

#login-form input {
  background-color: #f0f1f7;
  border: none !important;
  outline: none !important;
  width: 100%;
  border-radius: 5px;
  padding: 11px 13px;
}

#login-form input::placeholder {
  color: #4b506d;
  opacity: 0.4;
  font-size: 14px;
}

.ant-form-item-label label {
  font-size: 12px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  color: #002044;
  margin-bottom: 10px;
}

.ant-row.ant-form-item {
  margin-bottom: 18px;
}

.main-input,
.main-input input {
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: 1px solid #f9f9f9;
  color: #002044;
  font-size: 14px;
}

.password-form-item .ant-form-item-control-input-content {
  position: relative;
}

.ant-input-suffix {
  position: absolute;
  top: 14px;
  left: 13.8px;
}

.ant-input-suffix svg {
  color: #4b506d;
  opacity: 0.4;
  font-size: 14px;
}

#login-form .forgot-password a {
  font-size: 12px;
  color: #9fa2b4;
}

.submit-btn,
.submit-btn:hover {
  width: 100%;
  background-color: #002044;
  color: #fff;
  box-shadow: 0px 4px 12px rgba(55, 81, 255, 0.24);
  border-radius: 5px;
  font-size: 16px;
  margin-top: 17px;
}

/* ================================================================= */
/* Humburger icon */
.humburger {
  cursor: pointer;
}

.humburger .line {
  width: 35.36px;
  height: 2px;
  background-color: #fff;
  border-radius: 5px;
}

.humburger .line.middle {
  margin: 12.38px 0;
}

/* ================================================================ */

/* Home page */

.home .content {
  padding: 16px;
}

.home h2 {
  font-size: 24px;
  font-weight: 700;
  color: #002044;
  margin-bottom: 28px;
}

.homeFeatures {
  color: #fff;
  margin-bottom: 56px;
}

.homeFeatures .content {
  height: 116px;
}

.homeFeatures .dark-blue {
  background: linear-gradient(100.96deg, #002044 3.99%, #163d69 93.91%);
  border-radius: 8px;
}

.homeFeatures .light-blue {
  background: linear-gradient(100.96deg, #5b9bd5 3.99%, #1b79cf 93.91%);
  border-radius: 8px;
}

.homeFeatures .content .number,
.homeFeatures .content .logo {
  font-size: 20px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0.005em;
}

.homeFeatures .btn {
  border-radius: 5px;
  padding: 8px;
  font-size: 16px;
  font-weight: 400;
  height: 46px;
}

.dark-blue-btn {
  background: #002044;
  color: #fff !important;
  margin-bottom: 20px;
}

.light-gold-btn,
.light-gold-btn:hover {
  background: #f4efe6;
  color: #ba902e;
}

.btn-icon {
  margin-left: 13px;
}

/* New Subscription Modal */
.ant-modal.new-subscription-modal {
  width: 641px !important;
}
.ant-modal.new-subscription-modal .ant-modal-content {
  border-radius: 5px !important;
}
.ant-modal.new-subscription-modal .modal-title {
  font-weight: 700;
  font-size: 18px;
  color: #000;
  margin-bottom: 24px;
}

.ant-modal.new-subscription-modal .row {
  margin-bottom: 12px;
}

.ant-modal.new-subscription-modal .newSub-btn {
  background: #f4efe6;
  color: #ba902e;
  height: 46px;
  width: 286px;
  border-radius: 5px;
  padding: 8px;
  font-family: Cairo;
  font-size: 16px;
  font-weight: 600;
  text-align: right;
  letter-spacing: 0.3px;
}
.ant-modal.new-subscription-modal .newSub-btn.last {
  width: 581px;
  text-align: center;
  margin-top: 7px;
}

.ant-modal.new-subscription-modal .newSub-btn-svg {
  margin-left: 10.5px;
}

.ant-modal.new-subscription-modal .ant-modal-close-x {
  line-height: 50px;
}
.ant-modal.new-subscription-modal .ant-modal-close-x span {
  color: #000;
}

/* ===================== Violations ===================== */
.violations .main-card {
  width: 100%;
  background-color: #fff;
  padding: 24px;
  box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.24),
    0px 3px 8px -1px rgba(50, 50, 71, 0.05);
  border-radius: 5px;
}

.violations .main-card h1 {
  font-weight: 700;
  font-size: 24px;
  color: #27272e;
  margin-bottom: 32px;
}
.violations.service-Provider .main-card h1,
.violations.investment-policy .main-card h1 {
  margin-bottom: 0px;
}

.violations .main-card .item {
  height: 45px;
  width: 302px;
  margin-bottom: 16px;
  border-radius: 5px;
  transition: 0.5s;
}
.violations.service-Provider .main-card .item,
.violations.investment-policy .main-card .item {
  height: unset;
  width: unset;
  margin-bottom: 16px;
}
.violations .main-card .item:hover {
  box-shadow: 0px 2px 16px #f4f4f4;
}

.violations .main-card .item p {
  font-weight: 500;
  font-size: 16px;
  color: #27272e;
  padding-right: 24px;
  margin-bottom: 0;
  position: relative;
}
.violations .main-card .item p::before {
  content: '';
  position: absolute;
  top: 10px;
  right: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.violations .main-card .item.one p::before {
  background-color: #9f203e;
}
.violations .main-card .item.two p::before {
  background-color: #ffad4c;
}
.violations .main-card .item.three p::before {
  background-color: #904cff;
}
.violations .main-card .item.four p::before {
  background-color: #010324;
}
.violations .main-card .item.five p::before {
  background-color: #4c6fff;
}

.violations.service-Provider .main-card .item.one p::before {
  background-color: #0ab39c;
}
.violations.service-Provider .main-card .item.two p::before {
  background-color: #299cdb;
}
.violations.service-Provider .main-card .item.three p::before {
  background-color: #405189;
}
.violations.service-Provider .main-card .item.four p::before {
  background-color: #f06548;
}

.violations .main-card .item .icon {
  margin-top: 3px;
  margin-left: 16px;
}

/* ===================== Indications ===================== */
.main-card.indications {
  background: #ffffff;
  box-shadow: 0px 5.24409px 13.9843px -1.74803px rgba(50, 50, 71, 0.02);
  border-radius: 27.9685px;
  padding: 24px;
  margin-bottom: 32px;
}

.main-card.indications .card-title {
  color: #27272e;
  font-size: 20px;
  font-weight: 700;
}

button.quarters {
  font-size: 20px;
  border-radius: 16px;
  height: 55px;
}
button.quarters span svg {
  font-size: 12px !important;
  font-weight: bold;
  margin-bottom: 5px;
}

.main-card.indications .graph {
  margin: 32px 0;
}

.main-card.indications .item {
  padding-right: 25px;
  position: relative;
}
.main-card.indications .item::before {
  content: '';
  position: absolute;
  top: 41%;
  right: 0;
  width: 10.52px;
  height: 10.52px;
  border-radius: 50%;
}
.main-card.indications .item.one::before {
  background-color: #405189;
}
.main-card.indications .item.two::before {
  background-color: #299cdb;
}
.main-card.indications .item.three::before {
  background-color: #0ab39c;
}
.main-card.indications .item.four::before {
  background-color: #f06548;
}

.main-card.indications .item p {
  margin-bottom: 0;
}

.main-card.indications .item .value {
  font-weight: 600;
  font-size: 18.417px;
  color: #27272e;
}
.main-card.indications .item .value span {
  font-weight: 700;
  font-size: 15.786px;
  color: #66cb9f;
  margin-right: 8px;
}
.main-card.indications .item .desc {
  font-weight: 500;
  font-size: 15.786px;
  color: #425466;
}

.main-card.indications .total h4 {
  font-weight: 700;
  font-size: 30px;
  color: #11142d;
}
.main-card.indications .total p {
  font-weight: 600;
  font-size: 20px;
  color: #92929d;
}

/* ========================= Breadcrumb ========================= */
.ant-breadcrumb {
  color: #000;
  font-size: 12px;
  transition: 0.3s;
  margin-bottom: 9px;
}
.ant-breadcrumb a:hover {
  color: #000;
}

/* ====================== Create Subscription ========================= */

/* ========= Stock fund ======= */
.create-subscription .header h1 {
  color: #002044;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 8px;
  height: 45px;
  line-height: 45px;
}

.create-subscription .header .details h3,
.create-subscription .header .details p {
  height: 34px;
  line-height: 34px;
}

.create-subscription .header .details h3 {
  color: #ba902e;
  font-size: 18px;
  margin-left: 56px;
  margin-bottom: 8px;
}
.create-subscription .header .details svg {
  margin-left: 10px;
}
.create-subscription .header .details p {
  font-size: 16px;
  color: #002044;
}

/* Progress bar */
.ant-progress-inner {
  background-color: rgba(0, 32, 68, 0.25);
  margin-bottom: 24px;
}
.ant-progress-success-bg,
.ant-progress-bg {
  background-color: #002044;
}
.main-progress h6 {
  font-size: 16px;
  color: #000;
  height: 30px;
  line-height: 30px;
  margin-bottom: 10px;
}
.main-progress h6 .percentage {
  color: #ba902e;
  font-weight: 700;
}

/* All Items */
.all-items {
  margin-bottom: 71px;
}
.all-items .btn.single-item {
  width: 100%;
  height: 42px;
  background: #edeff0;
  font-size: 14px;
  border-radius: 5px;
  color: #002044;
  padding: 8px 8px 8px 0px;
  text-align: right;
  margin-bottom: 10px;
  position: relative;
}

.all-items .btn.single-item .right-icon {
  margin-left: 10px;
}
.all-items .btn.single-item .left-icon {
  position: absolute;
  left: 10px;
}

/* buttons */
.btn.rejectAdd {
  width: 224px;
  height: 60px;
  background: #d0342c;
  color: #fff;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
}

.btn.add-comment {
  width: 224px;
  height: 60px;
  background: rgba(186, 144, 46, 0.29);
  color: #000;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
}

.btn.approval {
  width: 224px;
  height: 60px;
  background: #002044;
  color: #fff;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
}

.btn.rejectAdd svg,
.btn.add-comment svg,
.btn.approval svg {
  margin-left: 10px;
}

/* ======================= Help Modal ===================== */
/*
.ant-modal.new-subscription-modal {
  width: 641px !important;
}
.ant-modal.new-subscription-modal .ant-modal-content {
  border-radius: 5px !important;
}
.ant-modal.new-subscription-modal .modal-title {
  font-weight: 700;
  font-size: 18px;
  color: #000;
  margin-bottom: 24px;
}

.ant-modal.new-subscription-modal .row {
  margin-bottom: 12px;
}

.ant-modal.new-subscription-modal .newSub-btn {
  background: #F4EFE6;
  color: #BA902E;
  height: 46px;
  width: 286px;
  border-radius: 5px;
  padding: 8px;
  font-family: Cairo;
  font-size: 16px;
  font-weight: 600;
  text-align: right;
  letter-spacing: 0.3px;
}
.ant-modal.new-subscription-modal .newSub-btn.last {
  width: 581px;
  text-align: center;
  margin-top: 7px;
}

.ant-modal.new-subscription-modal .newSub-btn-svg {
  margin-left: 10.5px;
}

.ant-modal.new-subscription-modal .ant-modal-close-x {
  line-height: 50px;
}
.ant-modal.new-subscription-modal .ant-modal-close-x span {
  color: #000;
}
*/

.ant-modal.help-modal {
  width: 496px !important;
}
.ant-modal.help-modal .ant-modal-content {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.ant-modal.help-modal .header {
  margin-bottom: 24px;
}

.ant-modal.help-modal .header h4 {
  color: #002044;
  font-weight: 500;
  font-size: 20px;
  height: 37px;
  line-height: 37px;
}

.ant-modal.help-modal .ant-form-item-label label {
  font-size: 14px;
  font-weight: 600;
  color: #000;
}

.ant-modal.help-modal .ant-select {
  background-color: #fafbfc;
  padding: 10px 0;
  border-radius: 5px;
}
.ant-modal.help-modal .ant-select.ant-select-focused .ant-select-selector {
  box-shadow: unset !important;
}

.ant-modal.help-modal
  .ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  border: unset;
  background-color: #fafbfc;
  color: #000;
}

.ant-modal.help-modal textarea {
  background: #fafbfc;
  border: 1px solid #efefef;
  box-sizing: border-box;
  border-radius: 5px;
}

.btn.send {
  width: 137px;
  height: 46px;
  width: 137px;
  height: 46px;
  color: #ffffff;
  background-color: #ba902e;
}

.btn.download-doc {
  width: 109px;
  height: 38px;
  border: 1px solid #007dfa;
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  color: #007dfa;
}
.btn.download-doc svg {
  margin-left: 14px;
}

.btn.upload-file {
  width: 99.44px;
  height: 38px;
  border: 1px solid #dfdddd;
  border-radius: 5px;
  font-size: 14px;
  color: #a8a8a8;
  padding: 4px !important;
}
.btn.upload-file svg {
  margin-left: 10px;
}

.btn.day {
  border-radius: 5px;
  padding: 4px 8px;
  font-size: 14px;
  color: #000;
  margin-left: 12px;
  margin-bottom: 10px;
}
.btn.day.active {
  background: #002044;
  color: #fff;
}

.solution-text {
  margin-top: -22px;
}
.solution-text textarea {
  background-color: #fff !important;
}

/* ====================== Accordion ====================== */
.accordion.violations {
  margin-top: 40px;
  background-color: #fff;
}
.accordion.violations .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  background: #002044;
  box-shadow: inset 0px -1px 0px #edf2f7;
  padding-right: 17px;
  padding-left: 17px;
}

.accordion.violations .header h5 {
  margin-bottom: 0;
  font-size: 16px;
  color: #fff;
}

.accordion.violations .header button {
  background: #022751;
  color: #fff;
  border: 1.5px solid #416a98;
  border-radius: 12px;
  font-weight: 600;
  font-size: 14px;
  padding: 0px 16px;
  height: 40px;
}
.accordion.violations .header button svg {
  margin-left: 8px;
}
.accordion.violations .header button.last {
  margin-right: 30px;
}

.accordion.violations .violations-container {
  padding: 24px 15px;
}

.accordion.violations .info {
  display: flex;
  align-items: center;
  background: #fafbfc;
  border-radius: 5px;
  height: 44px;
  padding: 0 20px;
  margin-bottom: 24px;
}
.accordion.violations .full-info:not(:last-child) {
  margin-bottom: 24px;
}

.accordion.violations .info p,
.accordion.violations .info button {
  margin-left: 18px;
  text-align: center;
}
.accordion.violations .info .title {
  display: flex;
  width: 28%;
}
.accordion.violations .info .title svg {
  margin-left: 13px;
}
.accordion.violations .info p {
  margin-bottom: 0px;
}

.accordion.violations .info h6 {
  color: #4c6fff;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 0px;
}

.accordion.violations .info .number {
  width: 16%;
}
.accordion.violations .info .recomendation {
  width: 16%;
}
.accordion.violations .info .action {
  width: 19%;
}

.accordion.violations .info button.download {
  width: 148px;
  height: 28px;
  background: rgba(186, 144, 46, 0.1);
  border: 1px solid rgba(186, 144, 46, 0.08);
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  color: #ba902e;
  padding: 0;
}
.accordion.violations .info button.download svg {
  margin-left: 10px;
}

.accordion.violations .info .number span {
  color: #d0342c;
  margin-right: 8px;
}

.accordion.violations .info .recomendation span,
.accordion.violations .info .action span {
  color: #ba902e;
  margin-right: 8px;
}

.accordion.violations .info svg.arrow {
  transition: 0.2s;
}
.accordion.violations .info svg.arrow.show-info {
  transform: rotate(180deg);
}

/* details */
.accordion.violations .details {
  padding: 0 20px;
}
.accordion.violations .details .right,
.accordion.violations .details .left {
  width: 50%;
}
.accordion.violations .details label {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  color: #000;
}
.accordion.violations .details .right .input {
  margin-bottom: 26px;
}
.accordion.violations input.small {
  width: 168px;
  height: 48px;
  background: #fafbfc;
  border: 1px solid #efefef;
  border-radius: 5px;
}

.accordion.violations .details textarea.ant-input {
  background: #fafbfc;
  border: 1px solid #efefef;
  border-radius: 5px;
  margin-bottom: 26px;
  padding: 12px;
  color: #000;
  font-size: 14px;
}

/* Comments */
.accordion.violations .comments {
  background: #fafbfc;
  border: 1px solid #efefef;
  border-radius: 5px;
}
.accordion.violations .comments .comments-container {
  padding: 15px 15px 0 15px;
}
.accordion.violations .comments .comment {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.accordion.violations .comments .comments-container .comment:not(:last-child) {
  margin-bottom: 20px !important;
}
.accordion.violations .comments .avatar {
  background: #002044;
  color: #ffffff;
  width: 40px;
  height: 40px;
  line-height: 43px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  border-radius: 50%;
  margin-left: 13px;
}
.accordion.violations .comments .comment .details p {
  margin-bottom: 0;
  color: #000;
  font-size: 14px;
}
.accordion.violations .comments .comment .details .name span,
.accordion.violations .comments .comment .details .from {
  font-size: 12px;
  color: #717171;
}
.accordion.violations .comments .comment .details .name span {
  margin-right: 5px;
}

.accordion.violations .comments .ant-divider {
  margin: 15px 0;
}
.accordion.violations .comments .add-comment {
  display: flex;
  align-items: center;
  padding: 0 15px 15px 15px;
}
.accordion.violations .comments .add-comment input {
  background: #ffffff;
  border: 1px solid #bbbbbb;
  border-radius: 5px;
  padding: 9px 12px;
  height: 38px;
  width: 90%;
}

/* decision */
.accordion.violations .decision {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 30px;
}

.accordion.violations .decision .input:first-child {
  margin-left: 75px;
}

.accordion.violations .decision .ant-select {
  background-color: #fafbfc;
  padding: 10px 0;
  border-radius: 5px;
  width: 240px;
}
.accordion.violations
  .decision
  .ant-select.ant-select-focused
  .ant-select-selector {
  box-shadow: unset !important;
}

.accordion.violations
  .decision
  .ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  border: unset;
  background-color: #fafbfc;
  color: #000;
}

.accordion.violations .decision button {
  width: 137.26px;
  height: 46px;
  background: #ba902e;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
}

/* ============================== Contributers Table ============================== */
.btn.add-doc-holder {
  padding: 8px 16px;
  border: 1px solid #002044;
  border-radius: 5px;
  color: #002044;
  font-weight: 500;
  font-size: 14px;
}
.btn.add-doc-holder svg {
  margin-left: 8px;
}

.btn.download-doc-gold {
  padding: 8px 16px;
  border: 1px solid #ba902e;
  border-radius: 12px;
  color: #ba902e;
  font-weight: 500;
  font-size: 14px;
  margin-right: 24px;
}
.btn.download-doc-gold svg {
  margin-left: 8px;
}

.btn.add-name {
  background: #002044;
  color: #fff;
  border-radius: 5px;
  padding: 8px 14px;
  font-size: 14px;
  font-weight: 600;
  margin-top: 16px;
}
.btn.add-name svg {
  margin-left: 8px;
}

.btn.add-name-light {
  background: #EFEFEF;
  color: #002044;
  border-radius: 5px;
  padding: 8px 14px;
  font-size: 14px;
  font-weight: 600;
  margin-top: 16px;
}
.btn.add-name-light svg {
  margin-left: 8px;
}

.btn.save {
  background: #2A9F20;
  border-radius: 5px;
  color: #fff;
  width: 142px;
  height: 42px;
  font-size: 14px;
  font-weight: 600;
  margin-top: 24px;
}

.table-search {
  width: 232px;
  height: 40px;
  margin-right: 24px;
  position: relative;
}
.table-search input {
  background: #f4f4f4;
  border-radius: 12px;
  padding: 8px 48px 8px 8px;
}
.table-search svg {
  position: absolute;
  top: 8px;
  right: 8px;
}

/* Radio */
.ant-radio-group span {
  color: #000;
}

/* Disclosure buttons */
button.delete-disclosure,
button.delete-disclosure:hover {
  background: #D0342C;
  color: #fff;
  border-radius: 5px;
  padding: 8px 16px;
}

button.future-save-disclosure,
button.future-save-disclosure:hover {
  background: #BA902E;
  color: #fff;
  border-radius: 5px;
  padding: 8px 16px;
}
button.send-disclosure,
button.send-disclosure:hover {
  background: #002044;
  color: #fff;
  border-radius: 5px;
  padding: 8px 16px;
}

button.delete-disclosure svg,
button.future-save-disclosure svg,
button.send-disclosure svg {
  margin-left: 8px;
}