@import '~antd/dist/antd.css';

/* General */

input[type="password"] {
  -webkit-text-security: disc;
}

/* ---------------------------------------- */
.login-page .login-background {
  position: absolute;
  left: 0;
  top: 200px;
  z-index: -1;
}
.login-card {
  background: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  width: 414px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: 1px solid #EBEBEB;
  border-radius: 8px;
  margin-top: 175px;
  margin-bottom: 175px;
}

.login-card img {
  margin-bottom: 11px;
  margin-top: 12px;
}

.login-card h3 {
  font-size: 19px;
  font-weight: bold;
  line-height: 35.61px;
  color: #002044;
  margin-bottom: 0px;
}

.login-card h2 {
  font-size: 24px;
  font-weight: bold;
  color: #BA902E;
  line-height: 44.98px;
}

.login-card p {
  font-size: 14px;
  color: #9FA2B4;
  line-height: 20px;
}

#login-form {
  width: 100%;
  padding: 0px 35px 47px 35px;
}

#login-form input {
  background-color: #F0F1F7;
  border: none;
  outline: none;
  width: 100%;
  border-radius: 5px;
  padding: 11px 13px;
}

#login-form input::placeholder {
  color: #4B506D;
  opacity: 0.4;
  font-size: 14px;
}

.ant-form-item-label {
  font-size: 12px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  color: #002044;
  margin-bottom: 10px;
}

.ant-row.ant-form-item {
  margin-bottom: 18px;
}

.main-input,
.main-input input {
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: 1px solid #F9F9F9;
  color: #002044;
  font-size: 14px;
}

.password-form-item .ant-form-item-control-input-content {
  position: relative;
}

.ant-input-suffix {
  position: absolute;
  top: 8px;
  left: 13.8px;
}

.ant-input-suffix svg {
  color: #4B506D;
  opacity: 0.4;
  font-size: 14px;
}

.submit-btn,
.submit-btn:hover {
  width: 100%;
  background-color: #002044;
  color: #fff;
  box-shadow: 0px 4px 12px rgba(55, 81, 255, 0.24);
  border-radius: 5px;
  font-size: 16px;
  margin-top: 17px;
}

/* ================================================================= */
/* Navbar */
.ant-layout-header {
  background-color: #002044;
  padding-right: 41px;
  padding-left: 51px;
  height: 80px;
}

.navbar-collapse {
  padding-left: 51px;
  height: 80px;
}

/* ant-layout-header rightside */
.ant-layout-header .right-side {
  margin-right: 30px;
}

.ant-layout-header .right-side svg {
  color: #fff;
  font-size: 40px;
}

.ant-layout-header .search {
  margin-right: 47px;
}

.ant-layout-header .search svg {
  color: #6F767E;
  font-size: 26px;
}

.ant-layout-header .search input {
  padding-right: 48px;
  border-radius: 12px;
  width: 275px;
  height: 40px;
  font-size: 14px;
  caret-color: #4C6FFF;
  background-color: #F4F4F4;
  border-color: #002044;
}

.ant-layout-header .right-side .form-control:focus {
  color: #4C6FFF;
  background-color: #F4F4F4;
  border-color: #002044;
  outline: 0;
  box-shadow: unset;
}

/* ant-layout-header leftside */

.ant-layout-header .left-side .notification {
  position: relative;
  cursor: pointer;
}

.ant-layout-header .left-side .circle {
  position: absolute;
  top: 36%;
  right: 5%;
  background: #BA902E;
  border-radius: 12px;
  width: 10px;
  height: 10px;
}

.ant-layout-header .left-side .avatar {
  margin-right: 31px;
}

.ant-layout-header .left-side svg {
  color: #BFC8D1;
  font-size: 26px;
}

.ant-layout-header .left-side p {
  color: #fff;
  margin-right: 11px;
}

/* Humburger icon */
.humburger {
  cursor: pointer;
}

.humburger .line {
  width: 35.36px;
  height: 2px;
  background-color: #fff;
  border-radius: 5px;
}

.humburger .line.middle {
  margin: 12.38px 0;
}

/* ================================================================= */

/* ================================================================= */
/* Home Page */
/* .home {
  padding: 26px;
} */

/* ================================================================= */
/* side bar */

/* .side-menu {
  position: fixed;
  background: #fff;
  width: 278px;
  height: 100%;
  box-sizing: border-box;
}

.side-menu .top-section {
  background: #002044;
  position: relative;
}

.side-menu .top-section .logo {
  padding: 10px 41px 9px 20px;
  overflow: hidden;
  display: inline-block;
}

.side-menu .top-section .logo img {
  max-width: 100%;
  max-height: 100%;
}

.side-menu .top-section .toggle-menu-btn {
  color: #BA902E;
  font-size: 20px;
  position: absolute;
  top: 30%;
  left: -30px;
  cursor: pointer;
}

.side-menu .main-menu {
  margin: 10px 0;
  height: 50vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.side-menu .main-menu .menu-item {
  padding: 10px 32px 10px 0px;
  color: #9A9AB0;
  text-decoration: none;
  font-size: 18px;
  display: block;
  font-weight: 600;
  cursor: pointer;
}

.side-menu .main-menu .menu-item .menu-icon {
  border-radius: 8px;
}

.side-menu .main-menu .menu-item.active .menu-icon {
  background-color: #BA902E;
}

.side-menu .main-menu .menu-item.active .menu-icon svg {
  stroke: #fff
}

.side-menu .main-menu .menu-item .menu-icon svg,
.side-menu .main-menu .menu-item .menu-icon svg path {
  stroke: #9A9AB0;
}

.side-menu .main-menu .menu-item .menu-icon {
  display: inline-block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
}

.side-menu .main-menu .menu-item span {
  display: inline-block;
  line-height: 40px;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.005em;
  margin-right: 24px;
}

.side-menu .main-menu .menu-item.active span {
  color: #BA902E;
}

.side-menu .main-menu .sub-menu {
  color: #9A9AB0;
}

.side-menu .main-menu .sub-menu a {
  display: block;
  font-weight: 600;
  text-decoration: none;
  color: #9A9AB0;
  box-sizing: border-box;
  padding: 5px;
  margin-right: 47px;
}

.side-menu .main-menu .sub-menu .submenu-icon {
  display: inline-block;
  font-size: 7px;
  line-height: 20px;
}

.side-menu .main-menu .sub-menu .submenu-icon svg {
  margin-bottom: 4px;
  margin-left: 6px;
} */

/* ================================================================ */

/* Layout */
/* width */
aside ::-webkit-scrollbar {
  width: 3px;
}

/* Track */
aside ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

/* Handle */
aside ::-webkit-scrollbar-thumb {
  background: #BA902E; 
  border-radius: 8px;
}

/* Handle on hover */
aside ::-webkit-scrollbar-thumb:hover {
  background: #BA902E; 
}

/* 1) SideNav */
.ant-layout-sider {
  background: #fff;
}

.ant-layout-sider {
  min-width: 278px !important;
  width: 278px !important;
}

.ant-layout-sider-children {
  position: fixed;
  width: 278px !important;
}

.ant-menu.ant-menu-root.ant-menu-inline.ant-menu-light {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 80px);
}

.ant-menu-item,
.ant-menu-submenu-title {
  min-height: 48px;
}

.ant-menu-item.ant-menu-item-only-child .ant-menu-title-content {
  font-weight: 400 !important;
}

.ant-layout-sider-children .logo {
  background-color: #002044;
  height: 80px;
  padding: 10px 41px 9px 20px;
  overflow: hidden;
}
.ant-layout-sider-children .logo img {
  max-width: 100%;
  max-height: 100%;
}

.ant-menu.ant-menu-sub.ant-menu-inline {
  background: #fff;
}

.ant-menu-title-content {
  text-align: right;
}
.ant-menu-submenu-arrow {
  right: unset;
  left: 16px;
}

.ant-menu-item, 
.ant-menu-submenu-title {
  padding-right: 32px !important;
}

.ant-menu-item svg,
.ant-menu-submenu-title svg,
.ant-menu-submenu-title svg path {
  stroke: #9A9AB0;
  border-radius: 8px;
  display: block;
  padding: 12px;
  width: 48px;
  height: 48px;
}

.ant-menu-submenu-arrow {
  color: #9A9AB0;
  margin-left: 15px;
  margin-top: 2px;
}

.ant-menu-item span,
.ant-menu-title-content {
  color: #9A9AB0;
  font-size: 18px;
  font-weight: 600;
  margin-right: 24px;
}

/* Active item */
.ant-menu-item.ant-menu-item-selected {
  background-color: unset !important;
}
.ant-menu-item.ant-menu-item-selected::after {
  border-right: unset;
}
.ant-menu-submenu.ant-menu-submenu-selected svg,
.ant-menu-submenu.ant-menu-submenu-selected svg path,
.ant-menu-item.ant-menu-item-selected svg {
  background-color: #BA902E;
  stroke: #fff;
}
.ant-menu-submenu.ant-menu-submenu-selected span,
.ant-menu-item.ant-menu-item-selected span,
.ant-menu-submenu.ant-menu-submenu-selected i {
  color: #BA902E !important;
}

/* 2) Navbar */
.ant-layout-header {
  height: 80px;
  background: #002044;
  position: fixed;
  left: 0;
  z-index: 1000;
  width: calc(100% - 278px);
}