@import '~antd/dist/antd.css';

/* General */

.ant-form-item-label {
  margin-bottom: 0 !important;
  text-align: right !important;
}

.ant-input-affix-wrapper {
  padding: 0 !important;
  border: none;
}

input.ant-input:focus {
  box-shadow: none !important;
}

.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
  border-color: unset;
  box-shadow: none;
  border-right-width: 0px;
  outline: 0;
}

.ant-input:focus,
.ant-input-focused {
  border-color: unset;
  box-shadow: none !important;
}

textarea {
  color: #000;
}

/* input[type="password"] {
  -webkit-text-security: disc;
} */

/* ---------------------------------------- */
.login-page .login-background {
  position: absolute;
  left: 0;
  top: 200px;
  z-index: -1;
}
.login-card {
  background: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  width: 414px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  margin-top: 175px;
  margin-bottom: 175px;
}

.login-card img {
  margin-bottom: 11px;
  margin-top: 12px;
}

.login-card h3 {
  font-size: 19px;
  font-weight: bold;
  line-height: 35.61px;
  color: #002044;
  margin-bottom: 0px;
}

.login-card h2 {
  font-size: 24px;
  font-weight: bold;
  color: #ba902e;
  line-height: 44.98px;
}

.login-card p {
  font-size: 14px;
  color: #9fa2b4;
  line-height: 20px;
}

#login-form {
  width: 100%;
  padding: 0px 35px 47px 35px;
}

#login-form input {
  background-color: #f0f1f7;
  border: none !important;
  outline: none !important;
  width: 100%;
  border-radius: 5px;
  padding: 11px 13px;
}

#login-form input::placeholder {
  color: #4b506d;
  opacity: 0.4;
  font-size: 14px;
}

.ant-form-item-label label {
  font-size: 12px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  color: #002044;
  margin-bottom: 10px;
}

.ant-row.ant-form-item {
  margin-bottom: 18px;
}

.main-input,
.main-input input {
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: 1px solid #f9f9f9;
  color: #002044;
  font-size: 14px;
}

.password-form-item .ant-form-item-control-input-content {
  position: relative;
}

.ant-input-suffix {
  position: absolute;
  top: 14px;
  left: 13.8px;
}

.ant-input-suffix svg {
  color: #4b506d;
  opacity: 0.4;
  font-size: 14px;
}

#login-form .forgot-password a {
  font-size: 12px;
  color: #9fa2b4;
}

.submit-btn,
.submit-btn:hover {
  width: 100%;
  background-color: #002044;
  color: #fff;
  box-shadow: 0px 4px 12px rgba(55, 81, 255, 0.24);
  border-radius: 5px;
  font-size: 16px;
  margin-top: 17px;
}

/* ================================================================= */
/* Navbar */
.ant-layout-header {
  background-color: #002044;
  padding-right: 41px;
  padding-left: 51px;
  height: 80px;
}

.navbar-collapse {
  padding-left: 51px;
  height: 80px;
}

/* ant-layout-header rightside */
.ant-layout-header .right-side {
  margin-right: 30px;
}

.ant-layout-header .right-side svg {
  color: #fff;
  font-size: 40px;
}

.ant-layout-header .search {
  margin-right: 47px;
}

.ant-layout-header .search svg {
  color: #6f767e;
  font-size: 26px;
}

.ant-layout-header .search input {
  padding-right: 48px;
  border-radius: 12px;
  width: 275px;
  height: 40px;
  font-size: 14px;
  caret-color: #4c6fff;
  background-color: #f4f4f4;
  border-color: #002044;
}

.ant-layout-header .right-side .form-control:focus {
  color: #4c6fff;
  background-color: #f4f4f4;
  border-color: #002044;
  outline: 0;
  box-shadow: unset;
}

/* ant-layout-header leftside */

.ant-layout-header .left-side .notification {
  position: relative;
  cursor: pointer;
}

.ant-layout-header .left-side .circle {
  position: absolute;
  top: 36%;
  right: 5%;
  background: #ba902e;
  border-radius: 12px;
  width: 10px;
  height: 10px;
}

.ant-layout-header .left-side .avatar {
  margin-right: 31px;
}

.ant-layout-header .left-side svg {
  color: #bfc8d1;
  font-size: 26px;
}

.ant-layout-header .left-side p {
  color: #fff;
  margin-right: 11px;
}

/* Humburger icon */
.humburger {
  cursor: pointer;
}

.humburger .line {
  width: 35.36px;
  height: 2px;
  background-color: #fff;
  border-radius: 5px;
}

.humburger .line.middle {
  margin: 12.38px 0;
}

/* ================================================================= */

/* ================================================================= */
/* Home Page */
/* .home {
  padding: 26px;
} */

/* ================================================================= */
/* side bar */

/* .side-menu {
  position: fixed;
  background: #fff;
  width: 278px;
  height: 100%;
  box-sizing: border-box;
}

.side-menu .top-section {
  background: #002044;
  position: relative;
}

.side-menu .top-section .logo {
  padding: 10px 41px 9px 20px;
  overflow: hidden;
  display: inline-block;
}

.side-menu .top-section .logo img {
  max-width: 100%;
  max-height: 100%;
}

.side-menu .top-section .toggle-menu-btn {
  color: #BA902E;
  font-size: 20px;
  position: absolute;
  top: 30%;
  left: -30px;
  cursor: pointer;
}

.side-menu .main-menu {
  margin: 10px 0;
  height: 50vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.side-menu .main-menu .menu-item {
  padding: 10px 32px 10px 0px;
  color: #9A9AB0;
  text-decoration: none;
  font-size: 18px;
  display: block;
  font-weight: 600;
  cursor: pointer;
}

.side-menu .main-menu .menu-item .menu-icon {
  border-radius: 8px;
}

.side-menu .main-menu .menu-item.active .menu-icon {
  background-color: #BA902E;
}

.side-menu .main-menu .menu-item.active .menu-icon svg {
  stroke: #fff
}

.side-menu .main-menu .menu-item .menu-icon svg,
.side-menu .main-menu .menu-item .menu-icon svg path {
  stroke: #9A9AB0;
}

.side-menu .main-menu .menu-item .menu-icon {
  display: inline-block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
}

.side-menu .main-menu .menu-item span {
  display: inline-block;
  line-height: 40px;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.005em;
  margin-right: 24px;
}

.side-menu .main-menu .menu-item.active span {
  color: #BA902E;
}

.side-menu .main-menu .sub-menu {
  color: #9A9AB0;
}

.side-menu .main-menu .sub-menu a {
  display: block;
  font-weight: 600;
  text-decoration: none;
  color: #9A9AB0;
  box-sizing: border-box;
  padding: 5px;
  margin-right: 47px;
}

.side-menu .main-menu .sub-menu .submenu-icon {
  display: inline-block;
  font-size: 7px;
  line-height: 20px;
}

.side-menu .main-menu .sub-menu .submenu-icon svg {
  margin-bottom: 4px;
  margin-left: 6px;
} */

/* ================================================================ */

/* Layout */
/* width */
aside ::-webkit-scrollbar {
  width: 3px;
}

/* Track */
aside ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
aside ::-webkit-scrollbar-thumb {
  background: #ba902e;
  border-radius: 8px;
}

/* Handle on hover */
aside ::-webkit-scrollbar-thumb:hover {
  background: #ba902e;
}

/* 1) SideNav */
.ant-menu {
  padding-top: 30px;
  padding-bottom: 30px;
}

.ant-layout-sider {
  background: #fff;
}

.ant-layout-sider {
  min-width: 278px !important;
  width: 278px !important;
}

.ant-layout-sider.ant-layout-sider-collapsed .ant-layout-sider-children,
.ant-layout-sider.ant-layout-sider-collapsed {
  width: 110px !important;
  min-width: 110px !important;
}

.ant-layout-sider-children {
  position: fixed;
  width: 278px !important;
}

.ant-menu.ant-menu-root.ant-menu-inline.ant-menu-light {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 80px);
}

.ant-menu-item,
.ant-menu-submenu-title {
  min-height: 48px;
}

.ant-menu-item.ant-menu-item-only-child .ant-menu-title-content {
  font-weight: 400 !important;
}

.ant-layout-sider-children .logo {
  background-color: #002044;
  height: 80px;
  padding: 10px 41px 9px 20px;
  overflow: hidden;
}
.ant-layout-sider-children .logo img {
  max-width: 100%;
  max-height: 100%;
}

.ant-layout-sider-collapsed .logo {
  padding: 0;
  text-align: center;
  padding-top: 12px;
}
.ant-layout-sider-collapsed .logo img {
  width: 50%;
}

.ant-menu.ant-menu-sub.ant-menu-inline {
  background: #fff;
}

.ant-menu-title-content {
  text-align: right;
}
.ant-menu-submenu-arrow {
  right: unset;
  left: 16px;
}

.ant-menu-item,
.ant-menu-submenu-title {
  padding-right: 32px !important;
}

.ant-menu-item svg,
.ant-menu-submenu-title svg,
.ant-menu-submenu-title svg path {
  stroke: #9a9ab0;
  border-radius: 8px;
  display: block;
  padding: 12px;
  width: 48px;
  height: 48px;
}

.ant-menu-submenu-arrow {
  color: #9a9ab0;
  margin-left: 15px;
  margin-top: 2px;
}

.ant-menu-item span,
.ant-menu-title-content {
  color: #9a9ab0;
  font-size: 16px;
  font-weight: 600;
  margin-right: 8px;
}

.ant-menu-sub .ant-menu-item {
  min-height: 30px !important;
}
.ant-menu-sub.ant-menu-inline > .ant-menu-item,
.ant-menu-sub.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
  height: 30px;
}
.ant-menu-sub .ant-menu-item span {
  font-size: 14px !important;
}

.ant-menu-inline .ant-menu-submenu-title {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  padding-left: unset !important;
}

.ant-menu-inline.ant-menu-root .ant-menu-item {
  margin-top: 5px !important;
  margin-bottom: 10px !important;
  padding-left: unset !important;
}

.ant-menu.ant-menu-sub.ant-menu-vertical li {
  text-align: right;
}
.ant-menu.ant-menu-sub.ant-menu-vertical .minus {
  display: inline-block;
  margin-bottom: 3px;
}

/* Active item */
.ant-menu-item.ant-menu-item-selected {
  background-color: unset !important;
}
.ant-menu-item.ant-menu-item-selected::after {
  border-right: unset;
}
.ant-menu-submenu.ant-menu-submenu-selected svg,
.ant-menu-submenu.ant-menu-submenu-selected svg path,
.ant-menu-item.ant-menu-item-selected svg {
  background-color: #ba902e;
  stroke: #fff;
}

.ant-menu-submenu-arrow:hover,
.ant-menu-submenu-active:hover i {
  color: #ba902e !important;
}

.ant-menu-submenu.ant-menu-submenu-selected .ant-menu-item-selected span {
  color: #ba902e !important;
}
.ant-menu-submenu.ant-menu-submenu-selected .ant-menu-item-selected .minus {
  background-color: #ba902e !important;
}

/* 2) Navbar */
.ant-layout-header {
  height: 80px;
  background: #002044;
  position: fixed;
  left: 0;
  z-index: 1000;
  width: calc(100% - 278px);
}
.ant-layout-header.collapsed {
  width: calc(100% - 110px);
}

/* Home page */
/* .home {
  padding: 26px;
} */

.home .content {
  padding: 16px;
}

.home h2 {
  font-size: 24px;
  font-weight: 700;
  color: #002044;
  margin-bottom: 28px;
}

.homeFeatures {
  color: #fff;
  margin-bottom: 56px;
}

.homeFeatures .content {
  height: 116px;
}

.homeFeatures .dark-blue {
  background: linear-gradient(100.96deg, #002044 3.99%, #163d69 93.91%);
  border-radius: 8px;
}

.homeFeatures .light-blue {
  background: linear-gradient(100.96deg, #5b9bd5 3.99%, #1b79cf 93.91%);
  border-radius: 8px;
}

.homeFeatures .content .number,
.homeFeatures .content .logo {
  font-size: 20px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0.005em;
}

.homeFeatures .btn {
  border-radius: 5px;
  padding: 8px;
  font-size: 16px;
  font-weight: 400;
  height: 46px;
}

.dark-blue-btn {
  background: #002044;
  color: #fff !important;
  margin-bottom: 20px;
}

.light-gold-btn,
.light-gold-btn:hover {
  background: #f4efe6;
  color: #ba902e;
}

.btn-icon {
  margin-left: 13px;
}

/* Table card */
.ant-card {
  border-radius: 5px;
}
.ant-card-head-wrapper {
  padding-top: 10px;
  padding-bottom: 13px;
}
.ant-card-head {
  border-bottom: 0;
}
.ant-card-head-title {
  font-size: 18px;
  font-weight: 500;
  color: #000;
}
.ant-card-body {
  padding: 0;
}

.under-construction-btn {
  color: #6f767e;
  font-weight: 600;
  font-size: 14px;
  border: 2px solid #6f767e3f;
  border-radius: 8px;
}
.under-construction-btn span {
  margin-right: 5px;
}

/* Table */
.ant-table-content thead tr th {
  background-color: #002044;
  color: #fff;
}
.ant-table-content thead tr th::before {
  background: unset !important;
}
.ant-table-container table > thead > tr:first-child th:first-child {
  border-top-left-radius: unset !important;
}
.ant-table-container table > thead > tr:first-child th:last-child {
  border-top-right-radius: unset !important;
}
.ant-table-content td,
.ant-table-content th {
  text-align: right !important;
  padding-right: 24px !important;
}

.ant-table-content td {
  color: #425466;
}

.home-table-action {
  position: relative;
}

.home-table-btn {
  width: 120px;
  height: 28px;
  background: #f1e9d5;
  color: #ba902e;
  border-radius: 5px;
  font-size: 12px;
  line-height: 1px;
}

.home-table-btn-review {
  position: absolute;
  top: 0%;
  width: 10px;
  height: 10px;
  background-color: #d0342c;
  border-radius: 50%;
}

.home-table-btn-icon {
  margin-right: 8px;
}

/* New Subscription Modal */
.ant-modal.new-subscription-modal {
  width: 641px !important;
}
.ant-modal.new-subscription-modal .ant-modal-content {
  border-radius: 5px !important;
}
.ant-modal.new-subscription-modal .modal-title {
  font-weight: 700;
  font-size: 18px;
  color: #000;
  margin-bottom: 24px;
}

.ant-modal.new-subscription-modal .row {
  margin-bottom: 12px;
}

.ant-modal.new-subscription-modal .newSub-btn {
  background: #f4efe6;
  color: #ba902e;
  height: 46px;
  width: 286px;
  border-radius: 5px;
  padding: 8px;
  font-family: Cairo;
  font-size: 16px;
  font-weight: 600;
  text-align: right;
  letter-spacing: 0.3px;
}
.ant-modal.new-subscription-modal .newSub-btn.last {
  width: 581px;
  text-align: center;
  margin-top: 7px;
}

.ant-modal.new-subscription-modal .newSub-btn-svg {
  margin-left: 10.5px;
}

.ant-modal.new-subscription-modal .ant-modal-close-x {
  line-height: 50px;
}
.ant-modal.new-subscription-modal .ant-modal-close-x span {
  color: #000;
}

/* ===================== Violations ===================== */
.violations .main-card {
  width: 100%;
  background-color: #fff;
  padding: 24px;
  box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.24),
    0px 3px 8px -1px rgba(50, 50, 71, 0.05);
  border-radius: 5px;
}

.violations .main-card h1 {
  font-weight: 700;
  font-size: 24px;
  color: #27272e;
  margin-bottom: 32px;
}
.violations.service-Provider .main-card h1,
.violations.investment-policy .main-card h1 {
  margin-bottom: 0px;
}

.violations .main-card .item {
  height: 45px;
  width: 302px;
  margin-bottom: 16px;
  border-radius: 5px;
  transition: 0.5s;
}
.violations.service-Provider .main-card .item,
.violations.investment-policy .main-card .item {
  height: unset;
  width: unset;
  margin-bottom: 16px;
}
.violations .main-card .item:hover {
  box-shadow: 0px 2px 16px #f4f4f4;
}

.violations .main-card .item p {
  font-weight: 500;
  font-size: 16px;
  color: #27272e;
  padding-right: 24px;
  margin-bottom: 0;
  position: relative;
}
.violations .main-card .item p::before {
  content: '';
  position: absolute;
  top: 10px;
  right: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.violations .main-card .item.one p::before {
  background-color: #9f203e;
}
.violations .main-card .item.two p::before {
  background-color: #ffad4c;
}
.violations .main-card .item.three p::before {
  background-color: #904cff;
}
.violations .main-card .item.four p::before {
  background-color: #010324;
}
.violations .main-card .item.five p::before {
  background-color: #4c6fff;
}

.violations.service-Provider .main-card .item.one p::before {
  background-color: #0ab39c;
}
.violations.service-Provider .main-card .item.two p::before {
  background-color: #299cdb;
}
.violations.service-Provider .main-card .item.three p::before {
  background-color: #405189;
}
.violations.service-Provider .main-card .item.four p::before {
  background-color: #f06548;
}

.violations .main-card .item .icon {
  margin-top: 3px;
  margin-left: 16px;
}

/* ===================== Indications ===================== */
.main-card.indications {
  background: #ffffff;
  box-shadow: 0px 5.24409px 13.9843px -1.74803px rgba(50, 50, 71, 0.02);
  border-radius: 27.9685px;
  padding: 24px;
  margin-bottom: 32px;
}

.main-card.indications .card-title {
  color: #27272e;
  font-size: 20px;
  font-weight: 700;
}

button.quarters {
  font-size: 20px;
  border-radius: 16px;
  height: 55px;
}
button.quarters span svg {
  font-size: 12px !important;
  font-weight: bold;
  margin-bottom: 5px;
}

.main-card.indications .graph {
  margin: 32px 0;
}

.main-card.indications .item {
  padding-right: 25px;
  position: relative;
}
.main-card.indications .item::before {
  content: '';
  position: absolute;
  top: 41%;
  right: 0;
  width: 10.52px;
  height: 10.52px;
  border-radius: 50%;
}
.main-card.indications .item.one::before {
  background-color: #405189;
}
.main-card.indications .item.two::before {
  background-color: #299cdb;
}
.main-card.indications .item.three::before {
  background-color: #0ab39c;
}
.main-card.indications .item.four::before {
  background-color: #f06548;
}

.main-card.indications .item p {
  margin-bottom: 0;
}

.main-card.indications .item .value {
  font-weight: 600;
  font-size: 18.417px;
  color: #27272e;
}
.main-card.indications .item .value span {
  font-weight: 700;
  font-size: 15.786px;
  color: #66cb9f;
  margin-right: 8px;
}
.main-card.indications .item .desc {
  font-weight: 500;
  font-size: 15.786px;
  color: #425466;
}

.main-card.indications .total h4 {
  font-weight: 700;
  font-size: 30px;
  color: #11142d;
}
.main-card.indications .total p {
  font-weight: 600;
  font-size: 20px;
  color: #92929d;
}

/* ========================= Breadcrumb ========================= */
.ant-breadcrumb {
  color: #000;
  font-size: 12px;
  transition: 0.3s;
  margin-bottom: 9px;
}
.ant-breadcrumb a:hover {
  color: #000;
}

/* ====================== Create Subscription ========================= */

/* ========= Stock fund ======= */
.create-subscription .header h1 {
  color: #002044;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 8px;
  height: 45px;
  line-height: 45px;
}

.create-subscription .header .details h3,
.create-subscription .header .details p {
  height: 34px;
  line-height: 34px;
}

.create-subscription .header .details h3 {
  color: #ba902e;
  font-size: 18px;
  margin-left: 56px;
  margin-bottom: 8px;
}
.create-subscription .header .details svg {
  margin-left: 10px;
}
.create-subscription .header .details p {
  font-size: 16px;
  color: #002044;
}

/* Progress bar */
.ant-progress-inner {
  background-color: rgba(0, 32, 68, 0.25);
  margin-bottom: 24px;
}
.ant-progress-success-bg,
.ant-progress-bg {
  background-color: #002044;
}
.main-progress h6 {
  font-size: 16px;
  color: #000;
  height: 30px;
  line-height: 30px;
  margin-bottom: 10px;
}
.main-progress h6 .percentage {
  color: #ba902e;
  font-weight: 700;
}

/* All Items */
.all-items {
  margin-bottom: 71px;
}
.all-items .btn.single-item {
  width: 100%;
  height: 42px;
  background: #edeff0;
  font-size: 14px;
  border-radius: 5px;
  color: #002044;
  padding: 8px 8px 8px 0px;
  text-align: right;
  margin-bottom: 10px;
  position: relative;
}

.all-items .btn.single-item .right-icon {
  margin-left: 10px;
}
.all-items .btn.single-item .left-icon {
  position: absolute;
  left: 10px;
}

/* buttons */
.btn.rejectAdd {
  width: 224px;
  height: 60px;
  background: #d0342c;
  color: #fff;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
}

.btn.add-comment {
  width: 224px;
  height: 60px;
  background: rgba(186, 144, 46, 0.29);
  color: #000;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
}

.btn.approval {
  width: 224px;
  height: 60px;
  background: #002044;
  color: #fff;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
}

.btn.rejectAdd svg,
.btn.add-comment svg,
.btn.approval svg {
  margin-left: 10px;
}

/* ======================= Help Modal ===================== */
/*
.ant-modal.new-subscription-modal {
  width: 641px !important;
}
.ant-modal.new-subscription-modal .ant-modal-content {
  border-radius: 5px !important;
}
.ant-modal.new-subscription-modal .modal-title {
  font-weight: 700;
  font-size: 18px;
  color: #000;
  margin-bottom: 24px;
}

.ant-modal.new-subscription-modal .row {
  margin-bottom: 12px;
}

.ant-modal.new-subscription-modal .newSub-btn {
  background: #F4EFE6;
  color: #BA902E;
  height: 46px;
  width: 286px;
  border-radius: 5px;
  padding: 8px;
  font-family: Cairo;
  font-size: 16px;
  font-weight: 600;
  text-align: right;
  letter-spacing: 0.3px;
}
.ant-modal.new-subscription-modal .newSub-btn.last {
  width: 581px;
  text-align: center;
  margin-top: 7px;
}

.ant-modal.new-subscription-modal .newSub-btn-svg {
  margin-left: 10.5px;
}

.ant-modal.new-subscription-modal .ant-modal-close-x {
  line-height: 50px;
}
.ant-modal.new-subscription-modal .ant-modal-close-x span {
  color: #000;
}
*/

.ant-modal.help-modal {
  width: 496px !important;
}
.ant-modal.help-modal .ant-modal-content {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.ant-modal.help-modal .header {
  margin-bottom: 24px;
}

.ant-modal.help-modal .header h4 {
  color: #002044;
  font-weight: 500;
  font-size: 20px;
  height: 37px;
  line-height: 37px;
}

.ant-modal.help-modal .ant-form-item-label label {
  font-size: 14px;
  font-weight: 600;
  color: #000;
}

.ant-modal.help-modal .ant-select {
  background-color: #fafbfc;
  padding: 10px 0;
  border-radius: 5px;
}
.ant-modal.help-modal .ant-select.ant-select-focused .ant-select-selector {
  box-shadow: unset !important;
}

.ant-modal.help-modal
  .ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  border: unset;
  background-color: #fafbfc;
  color: #000;
}

.ant-modal.help-modal textarea {
  background: #fafbfc;
  border: 1px solid #efefef;
  box-sizing: border-box;
  border-radius: 5px;
}

.btn.send {
  width: 137px;
  height: 46px;
  width: 137px;
  height: 46px;
  color: #ffffff;
  background-color: #ba902e;
}

.btn.download-doc {
  width: 109px;
  height: 38px;
  border: 1px solid #007dfa;
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  color: #007dfa;
}
.btn.download-doc svg {
  margin-left: 14px;
}

.btn.upload-file {
  width: 99.44px;
  height: 38px;
  border: 1px solid #dfdddd;
  border-radius: 5px;
  font-size: 14px;
  color: #a8a8a8;
  padding: 4px !important;
}
.btn.upload-file svg {
  margin-left: 10px;
}

.solution-text {
  margin-top: -22px;
}
.solution-text textarea {
  background-color: #fff !important;
}

/* ================ Stock fund page item ================ */
.stock-fund-item .header {
  margin-top: 16px;
  margin-bottom: 9px;
}
.stock-fund-item .header h2 {
  font-size: 18px;
  font-weight: 700;
  color: #000;
  height: 34px;
  line-height: 34px;
}
.stock-fund-item .header .icon {
  margin-left: 9px;
}
.stock-fund-item .header svg {
  cursor: pointer;
}

.stock-fund-item .items-header {
  height: 61px;
  background: #002044;
  border-radius: 5px;
  padding: 18px 13px;
}
.stock-fund-item .items-header h4 {
  height: 34px;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
}

.navigate {
  margin-top: 56px;
}

.navigate .btn.prev,
.navigate .btn.next {
  height: 50px;
  font-size: 18px;
  border-radius: 5px;
}

.navigate .btn.prev {
  width: 184px;
  background: #ddd;
  color: #050505;
}
.navigate .btn.next {
  width: 230px;
  background: #002044;
  color: #ffffff;
}

.navigate .btn svg {
  margin-bottom: 2px;
}

.navigate .btn.prev svg {
  margin-left: 13px;
}
.navigate .btn.next svg {
  margin-right: 13px;
}

.stock-fund-item .content div {
  font-size: 14px;
  color: #000;
  padding: 12px 27px 12px 14px;
}
.stock-fund-item .content > div:nth-of-type(odd),
.stock-fund-item .content-rows > div:nth-of-type(odd) {
  background: #fff;
}
.stock-fund-item .content > div:nth-of-type(even),
.stock-fund-item .content-rows > div:nth-of-type(even) {
  background: #fafbfc;
}

.stock-fund-item .title {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  width: 18%;
  padding: 14px;
}
.stock-fund-item .desc {
  padding: 14px;
  width: 82%;
}

/* Sidebar Items */
.sidebar-items {
  background-color: #fff;
  position: fixed;
  top: 80px;
  right: 0;
  width: 278px;
  height: calc(100% - 80px);
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0 16px 0 7px;
  transform: translate(100%);
  transition: all 0.3s linear;
}
.show-sidebar {
  transform: translate(0);
}

.sidebar-items .sidebar-header {
  margin: 40px 0;
  position: relative;
}
.sidebar-items .sidebar-header svg {
  position: absolute;
  left: 10px;
  top: 6px;
  cursor: pointer;
}

.sidebar-items .sidebar-header h6 {
  text-align: center;
  color: #000;
  font-size: 18px;
}

.sidebar-items .links {
  padding-right: 17px;
}

.sidebar-items .links li {
  margin-bottom: 15px;
  padding: 3px;
  display: flex;
}
.sidebar-items .links li.active {
  background: rgba(0, 32, 68, 0.05);
  border-radius: 4px;
}

.sidebar-items .links svg {
  margin-left: 18px;
}
.sidebar-items .links a {
  color: #002044;
  display: block;
}

/* width */
.sidebar-items::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.sidebar-items::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey;  */
  border-radius: 10px;
}

/* Handle */
.sidebar-items::-webkit-scrollbar-thumb {
  background-color: rgba(0, 32, 68, 0);
  border-radius: 8px;
}
.sidebar-items:hover::-webkit-scrollbar-thumb {
  background: rgba(0, 32, 68, 0.08);
  border-radius: 8px;
}

/* ====================== Accordion ====================== */
.accordion.violations {
  margin-top: 40px;
  background-color: #fff;
}
.accordion.violations .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  background: #002044;
  box-shadow: inset 0px -1px 0px #edf2f7;
  padding-right: 17px;
  padding-left: 17px;
}

.accordion.violations .header h5 {
  margin-bottom: 0;
  font-size: 16px;
  color: #fff;
}

.accordion.violations .header button {
  background: #022751;
  color: #fff;
  border: 1.5px solid #416a98;
  border-radius: 12px;
  font-weight: 600;
  font-size: 14px;
  padding: 0px 16px;
  height: 40px;
}
.accordion.violations .header button svg {
  margin-left: 8px;
}
.accordion.violations .header button.last {
  margin-right: 30px;
}

.accordion.violations .violations-container {
  padding: 24px 15px;
}

.accordion.violations .info {
  display: flex;
  align-items: center;
  background: #fafbfc;
  border-radius: 5px;
  height: 44px;
  padding: 0 20px;
}
.accordion.violations .info:not(:last-child) {
  margin-bottom: 24px;
}

.accordion.violations .info p,
.accordion.violations .info button {
  margin-left: 18px;
  text-align: center;
}
.accordion.violations .info .title {
  display: flex;
  width: 28%;
}
.accordion.violations .info .title svg {
  margin-left: 13px;
}
.accordion.violations .info p {
  margin-bottom: 0px;
}

.accordion.violations .info h6 {
  color: #4c6fff;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 0px;
}

.accordion.violations .info button.download {
  width: 148px;
  height: 28px;
  background: rgba(186, 144, 46, 0.1);
  border: 1px solid rgba(186, 144, 46, 0.08);
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  color: #ba902e;
  padding: 0;
}
.accordion.violations .info button.download svg {
  margin-left: 10px;
}

.accordion.violations .info .number span {
  color: #D0342C;
  margin-right: 8px;
}


.accordion.violations .info .recomendation span,
.accordion.violations .info .action span {
  color: #BA902E;
  margin-right: 8px;
}

