.staff-form-header {
  color: #000;
  font-size: 14;
  font-weight: 400;
  margin-bottom: 8px;
  height: 29px;
  line-height: 26px;
}

.staff-form {
  background: #FFFFFF;
  border: 1px solid #9A9AB0;
  border-radius: 5px;
  padding: 16px 17px;
}

.staff-form .label {
  font-size: 14px;
  font-weight: 600;
  color: #000;
  height: 26px;
  line-height: 26px;
  margin-bottom: 4px;
}

.staff-form .input {
  margin-bottom: 8px;
}

.staff-form input {
  border: 1px solid #B4B5B8;
  border-radius: 5px;
  height: 42px;
}

.staff-form .hint {
  color: #0E6027 !important;
  font-size: 12px !important;
  margin-top: 4px;
}

.staff-form .hint svg {
  margin-left: 9px;
}

.staff-form hr {
  color: #bbb;
}

.contributers-table p {
  margin-bottom: 0;
}

.contributers-table .gold {
  background: #ba902e;
  border: 1px solid #bbbbbb;
  border-radius: 5px 5px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 18.5px 70px;
}

.contributers-table .gold p {
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  height: 34px;
  line-height: 34px;
}

.contributers-table .contributers-table-content {
  padding: 16px;
}

.contributers-table .white {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contributers-table .white .left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contributers-table .white .left-side .red {
  color: #d0342c;
  font-weight: 700;
  font-size: 15px;
}

.stock-fund-item .content,
.stock-fund-item .content-rows {
  color: #000;
}

.stock-fund-item .content div {
  font-size: 14px;
  color: #000;
  line-height: 26px;
}

.stock-fund-item .content > div:nth-of-type(odd),
.stock-fund-item .content-rows > div:nth-of-type(odd) {
  background: #fff;
}

.stock-fund-item .content > div:nth-of-type(even),
.stock-fund-item .content-rows > div:nth-of-type(even) {
  background: #fafbfc;
}

.stock-fund-item .content-rows > div:first-child {
  padding-top: 24px;
  padding-bottom: 24px;
}

.stock-fund-item .content .content-w-input,
.stock-fund-item .content-rows .content-w-input {
  line-height: 30px;
}

.stock-fund-item .content p {
  margin-bottom: 0;
  padding: 12px 0;
}

.stock-fund-item .title {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  width: 18%;
  padding: 14px;
  line-height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stock-fund-item .desc {
  padding: 14px;
  width: 82%;
}

.hint {
  margin-bottom: 0px;
  font-size: 12px;
  height: 22px;
  line-height: 22px;
}

.hint.grey {
  color: #5E6660;
  margin-top: 4px;
}

.hint svg {
  margin-left: 9px;
}

ol, ul {
  padding-right: unset;
  margin-right: 18px;
}

ol {
  color: #5E7DB3;
}

ul {
  color: #000;
}

ol li, ul li {
  list-style: unset;
  line-height: 26px;
  margin-bottom: 7px;
}

.unordered-inline {
  margin-left: 12px;
}

.unordered-inline-bullet {
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #C4C4C4;
  border-radius: 50%;
  margin-left: 12px;
}

.new-category-card {
  background: #FAFBFC;
  border-radius: 8px;
  margin: 49px 0;
  padding: 16px 24px !important;
}

.new-category-card div {
  padding: 0 !important;
}

.new-category-card hr {
  color: #EBEBEB;
}

.new-category-card .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 !important;
  margin-bottom: 18px !important;
}

.new-category-card .header div {
  background: #EFEFEF;
  border-radius: 5px;
  width: 45%;
}

.new-category-card .header div p {
  font-size: 16px;
  font-weight: 600;
  color: #002044;
  margin-bottom: 0;
  padding: 8px 16px;
}

.new-category-card .header div p span {
  font-weight: 700;
}

.new-category-card .select-boxs .raw,
.radio-boxs .raw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 24px;
}

.new-category-card .select-boxs .raw .left,
.new-category-card .select-boxs .raw .right,
.radio-boxs .raw .left,
.radio-boxs .raw .right {
  width: 45%;
}

.new-category-card .select-boxs .raw .left {
  margin-right: auto;
}

.new-category-card .select-boxs .raw .label,
.radio-boxs .raw .label {
  color: #002044;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 8px;
}

.new-category-card .select-boxs .ant-select {
  margin: 0;
  padding: 5px !important;
}

.new-category-card .select-boxs .ant-select svg {
  fill: #002044;
}

.radio-boxs .raw .left,
.radio-boxs .raw .right {
  background: #EFEFEF;
  border-radius: 5px;
  padding: 8px 16px !important;
}

.radio-boxs .raw .ant-radio-wrapper span,
.staff-form .ant-radio-wrapper span {
  color: #002044;
}

.ant-radio .ant-radio-inner,
.ant-radio-input:focus + .ant-radio-inner {
  border-color: #002044;
}

.radio-boxs .ant-radio-inner::after,
.staff-form .ant-radio-inner::after {
  background-color: #002044;
}

.radio-boxs .percentage {
  position: absolute;
  top: 8px;
  left: 14px;
  color: #002044;
  font-size: 14px;
}

.listed-input {
  width: 100%;
  position: relative;
  border: 1px solid #bbbbbb;
  border-radius: 5px;
  padding: 0px 1px;
}

.listed-input input {
  border: none;
  padding: 7px 24px 7px 7px;
}

.listed-input .bullet {
  background-color: #002044;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  right: 10px;
}

.listed-input .hint {
  color: #9d9d9d !important;
  font-size: 14px;
  position: absolute;
  left: 15px;
  top: 6px;
}

.listed-input .items {
  padding: 20px 24px 7px 7px;
}

.listed-input .items p {
  position: relative;
}

.listed-input .items p::before {
  content: '';
  position: absolute;
  top: 7px;
  right: -14px;
  background-color: #002044;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.listed-input .items p:last-child {
  margin-bottom: 5px;
}

input.inline-input {
  height: 42px;
  background: #ffffff;
  border: 1px solid #b4b5b8;
  border-radius: 5px;
  margin: 0 8px;
  padding: 8px;
}

input.inline-input::-webkit-input-placeholder {
  color: #7d7d7d;
}

input.inline-input:-ms-input-placeholder {
  color: #7d7d7d;
}

input.inline-input::-ms-input-placeholder {
  color: #7d7d7d;
}

input.inline-input::placeholder {
  color: #7d7d7d;
}

input.grey-input {
  height: 42px;
  background: #EFEFEF;
  color: #000;
  border: 1px solid #EFEFEF;
  border-radius: 5px;
  padding: 8px;
}

input.grey-input::-webkit-input-placeholder {
  color: #000;
}

input.grey-input:-ms-input-placeholder {
  color: #000;
}

input.grey-input::-ms-input-placeholder {
  color: #000;
}

input.grey-input::placeholder {
  color: #000;
}

.ant-picker {
  padding: 0 !important;
  padding-left: 8px !important;
  background: #ffffff;
  border: 1px solid #b4b5b8;
  border-radius: 5px;
  margin: 0 8px;
}

.inline-input .ant-picker-input {
  height: 40px;
}

.inline-input .ant-picker-input input {
  padding: 8px;
}

.inline-input .ant-picker-input input::-webkit-input-placeholder {
  color: #7d7d7d;
}

.inline-input .ant-picker-input input:-ms-input-placeholder {
  color: #7d7d7d;
}

.inline-input .ant-picker-input input::-ms-input-placeholder {
  color: #7d7d7d;
}

.inline-input .ant-picker-input input::placeholder {
  color: #7d7d7d;
}

.ant-picker-focused {
  border-color: unset;
  -webkit-box-shadow: unset;
          box-shadow: unset;
  border-right-width: 1px;
  outline: 0;
}

.ant-picker:hover, .ant-picker-focused {
  border-color: unset;
  border-right-width: 1px;
}

.ant-picker svg {
  fill: #4B506D;
}

.ant-select {
  background-color: #fff;
  padding: 3.8px 0;
  border: 1px solid #B4B5B8;
  border-radius: 5px;
  width: 186px;
  margin: 0 8px;
}

.ant-select-selection-placeholder {
  color: #7D7D7D;
}

.ant-select svg {
  fill: #4B506D;
}

.ant-select.ant-select-focused .ant-select-selector {
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border: unset;
  background-color: #fff;
  color: #000;
}

.stock-fund-item .header {
  margin-top: 16px;
  margin-bottom: 9px;
}

.stock-fund-item .header h2 {
  font-size: 18px;
  font-weight: 700;
  color: #000;
  height: 34px;
  line-height: 34px;
}

.stock-fund-item .header .icon {
  margin-left: 9px;
}

.stock-fund-item .header svg {
  cursor: pointer;
}

.stock-fund-item .items-header {
  height: 61px;
  background: #002044;
  border-radius: 5px;
  padding: 18px 13px;
}

.stock-fund-item .items-header h4 {
  height: 34px;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
}

.navigate {
  margin-top: 56px;
}

.navigate .btn.prev,
.navigate .btn.next {
  height: 50px;
  font-size: 18px;
  border-radius: 5px;
}

.navigate .btn.prev {
  width: 184px;
  background: #ddd;
  color: #050505;
}

.navigate .btn.next {
  width: 230px;
  background: #002044;
  color: #ffffff;
}

.navigate .btn svg {
  margin-bottom: 2px;
}

.navigate .btn.prev svg {
  margin-left: 13px;
}

.navigate .btn.next svg {
  margin-right: 13px;
}

.sidebar-items {
  background-color: #fff;
  position: fixed;
  top: 80px;
  right: 0;
  width: 278px;
  height: calc(100% - 80px);
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0 16px 0 7px;
  -webkit-transform: translate(100%);
          transform: translate(100%);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.show-sidebar {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.sidebar-items .sidebar-header {
  margin: 40px 0;
  position: relative;
}

.sidebar-items .sidebar-header svg {
  position: absolute;
  left: 10px;
  top: 6px;
  cursor: pointer;
}

.sidebar-items .sidebar-header h6 {
  text-align: center;
  color: #000;
  font-size: 18px;
}

.sidebar-items .links {
  padding-right: 17px;
}

.sidebar-items .links li {
  margin-bottom: 15px;
  padding: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar-items .links li.active {
  background: rgba(0, 32, 68, 0.05);
  border-radius: 4px;
}

.sidebar-items .links svg {
  margin-left: 18px;
}

.sidebar-items .links a {
  color: #002044;
  display: block;
}

/* width */
.sidebar-items::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.sidebar-items::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
.sidebar-items::-webkit-scrollbar-thumb {
  background-color: rgba(0, 32, 68, 0);
  border-radius: 8px;
}

.sidebar-items:hover::-webkit-scrollbar-thumb {
  background: rgba(0, 32, 68, 0.08);
  border-radius: 8px;
}

.btn.download-Shareholder-form {
  padding: 9.6px 19.2px;
  background: #002044;
  border: 1.2px solid #416a98;
  border-radius: 14.4px;
  color: #ffffff;
  font-weight: 500;
  font-size: 16.8px;
}

.btn.download-Shareholder-form svg {
  margin-left: 8px;
}

.btn.upload-Shareholder-form {
  padding: 9.6px 19.2px;
  background: #fff2d5;
  border: 1.2px solid #fdefd0;
  border-radius: 14.4px;
  color: #BA902E;
  font-weight: 500;
  font-size: 16.8px;
}

.btn.upload-Shareholder-form svg {
  margin-left: 8px;
}
/*# sourceMappingURL=styles.css.map */