.staff-form-header {
  color: #000;
  font-size: 14;
  font-weight: 400;
  margin-bottom: 8px;
  height: 29px;
  line-height: 26px;
}

.staff-form {
  background: #FFFFFF;
  border: 1px solid #9A9AB0;
  border-radius: 5px;
  padding: 16px 17px;
}

.staff-form .label {
  font-size: 14px;
  font-weight: 600;
  color: #000;
  height: 26px;
  line-height: 26px;
  margin-bottom: 4px;
}

.staff-form .input {
  margin-bottom: 8px;
}

.staff-form input {
  border: 1px solid #B4B5B8;
  border-radius: 5px;
  height: 42px;
}

.hint {
  color: #0E6027 !important;
  font-size: 12px !important;
  margin-top: 4px;
}

.hint svg {
  margin-left: 9px;
}

.staff-form hr {
  color: #bbb;
}

.contributers-table {
  border: 1px solid #bbbbbb;
  border-radius: 5px;
}

.contributers-table p {
  margin-bottom: 0;
}

.contributers-table .gold {
  background: #ba902e;
  border-radius: 5px 5px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 18.5px 70px;
}

.contributers-table .gold p {
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  height: 34px;
  line-height: 34px;
}

.contributers-table .contributers-table-content {
  padding: 16px;
}

.contributers-table .white {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contributers-table .white .left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contributers-table .white .left-side .red {
  color: #d0342c;
  font-weight: 700;
  font-size: 15px;
}

.stock-fund-item .content,
.stock-fund-item .content-rows {
  color: #000;
}

.stock-fund-item .content div {
  font-size: 14px;
  color: #000;
  line-height: 26px;
}

.stock-fund-item .content > div:nth-of-type(odd),
.stock-fund-item .content-rows > div:nth-of-type(odd) {
  background: #fff;
}

.stock-fund-item .content > div:nth-of-type(even),
.stock-fund-item .content-rows > div:nth-of-type(even) {
  background: #fafbfc;
}

.stock-fund-item .content-rows > div:first-child {
  padding-top: 24px;
  padding-bottom: 24px;
}

.stock-fund-item .content .content-w-input,
.stock-fund-item .content-rows .content-w-input {
  line-height: 30px;
}

.stock-fund-item .content p {
  margin-bottom: 0;
  padding: 12px 0;
}

.stock-fund-item .title {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  width: 18%;
  padding: 14px;
  line-height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stock-fund-item .desc {
  padding: 14px;
  width: 82%;
}

.hint {
  margin-bottom: 0px;
  font-size: 12px;
  height: 22px;
  line-height: 22px;
}

.hint.grey {
  color: #5E6660;
  margin-top: 4px;
}

.hint svg {
  margin-left: 9px;
}

ol, ul {
  padding-right: unset;
  margin-right: 18px;
}

ol {
  color: #5E7DB3;
}

ul {
  color: #000;
}

ol li, ul li {
  list-style: unset;
  line-height: 26px;
  margin-bottom: 7px;
}

.unordered-inline {
  margin-left: 12px;
}

.unordered-inline-bullet {
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #C4C4C4;
  border-radius: 50%;
  margin-left: 12px;
}

.new-category-card {
  background: #FAFBFC;
  border-radius: 8px;
  margin: 49px 0;
  padding: 16px 24px !important;
}

.new-category-card hr {
  color: #EBEBEB;
}

.new-category-card .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 !important;
  margin-bottom: 18px !important;
}

.new-category-card .header div {
  background: #EFEFEF;
  border-radius: 5px;
  width: 45%;
}

.new-category-card .header div p {
  font-size: 16px;
  font-weight: 600;
  color: #002044;
  margin-bottom: 0;
  padding: 8px 16px;
}

.new-category-card .header div p span {
  font-weight: 700;
}

.new-category-card .select-boxs .raw,
.radio-boxs .raw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 24px;
}

.new-category-card .select-boxs .raw .left,
.new-category-card .select-boxs .raw .right,
.radio-boxs .raw .left,
.radio-boxs .raw .right {
  width: 45%;
}

.new-category-card .select-boxs .raw .left {
  margin-right: auto;
}

.new-category-card .select-boxs .raw .label,
.radio-boxs .raw .label {
  color: #002044;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 8px;
}

.new-category-card .select-boxs .ant-select {
  margin: 0;
  padding: 5px !important;
}

.new-category-card .select-boxs .ant-select svg {
  fill: #002044;
}

.radio-boxs .raw .left,
.radio-boxs .raw .right {
  background: #EFEFEF;
  border-radius: 5px;
  padding: 8px 16px !important;
}

.radio-boxs .raw .ant-radio-wrapper span,
.staff-form .ant-radio-wrapper span {
  color: #002044;
}

.ant-radio .ant-radio-inner,
.ant-radio-input:focus + .ant-radio-inner {
  border-color: #002044;
}

.radio-boxs .ant-radio-inner::after,
.staff-form .ant-radio-inner::after {
  background-color: #002044;
}

.black .raw .ant-radio-wrapper span {
  color: #000;
}

.black .ant-radio .ant-radio-inner,
.black .ant-radio-input:focus + .ant-radio-inner {
  border-color: #000;
}

.black .ant-radio-inner::after {
  background-color: #000;
}

.black .ant-radio-checked::after {
  border-color: #000;
}

.black .ant-radio-input:focus + .ant-radio-inner {
  -webkit-box-shadow: 0 0 0 3px whitesmoke;
          box-shadow: 0 0 0 3px whitesmoke;
}

.blue .ant-radio-wrapper span {
  color: #002044;
}

.blue .ant-radio .ant-radio-inner,
.blue .ant-radio-input:focus + .ant-radio-inner {
  border-color: #002044;
}

.blue .ant-radio-inner::after {
  background-color: #002044;
}

.blue .ant-radio-checked::after {
  border-color: #002044;
}

.blue .ant-radio-input:focus + .ant-radio-inner {
  -webkit-box-shadow: 0 0 0 3px whitesmoke;
          box-shadow: 0 0 0 3px whitesmoke;
}

ul.grey li {
  line-height: 35px;
}

ul.grey li::marker {
  color: #D9D9D9;
  width: 8px;
  height: 8px;
}

.main-create-card .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 64px;
  background: #002044;
  -webkit-box-shadow: inset 0px -1px 0px #edf2f7;
          box-shadow: inset 0px -1px 0px #edf2f7;
  padding: 0 17px;
}

.main-create-card .header .right,
.main-create-card .header .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-create-card .header h5 {
  margin-bottom: 0;
  font-size: 16px;
  color: #fff;
}

.main-create-card .header .late-hint {
  background: #FAFAFA;
  border-radius: 5px;
  padding: 8px;
  font-size: 14px;
  color: #D0342C;
  margin-right: 24px;
}

.main-create-card .header .left .btn.login-records {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}

.main-create-card .header .left .btn.login-records svg {
  margin-left: 11px;
}

.main-create-card .header .left .btn.download {
  background: #022751;
  color: #fff;
  border: 1.5px solid #416a98;
  border-radius: 12px;
  font-weight: 600;
  font-size: 14px;
  padding: 10px 16px;
}

.main-create-card .header .left .btn.download svg {
  margin-left: 8px;
}

.main-create-card .main {
  padding: 28px 16px;
  background-color: #fff;
}

.main-create-card .main .create-card {
  background: #F8F8F8;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  padding: 16px;
}

.create-card button.save-no-icon {
  width: 134px;
  height: 40px;
  background: #2A9F20;
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
}

.create-card button.delete-no-icon {
  width: 134px;
  height: 40px;
  background: #D0342C;
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
  margin-right: 16px;
}

.ant-layout-header {
  height: 80px;
  background: #002044;
  position: fixed;
  left: 0;
  z-index: 1000;
  width: calc(100% - 278px);
}

.ant-layout-header.collapsed {
  width: calc(100% - 110px);
}

.ant-layout-header {
  background-color: #002044;
  padding-right: 41px;
  padding-left: 51px;
  height: 80px;
}

.navbar-collapse {
  padding-left: 51px;
  height: 80px;
}

.ant-layout-header .right-side {
  margin-right: 30px;
}

.ant-layout-header .right-side svg {
  color: #fff;
  font-size: 40px;
}

.ant-layout-header .search {
  margin-right: 47px;
}

.ant-layout-header .search svg {
  color: #6f767e;
  font-size: 26px;
}

.ant-layout-header .search input {
  padding-right: 48px;
  border-radius: 12px;
  width: 275px;
  height: 40px;
  font-size: 14px;
  caret-color: #4c6fff;
  background-color: #f4f4f4;
  border-color: #002044;
}

.ant-layout-header .right-side .form-control:focus {
  color: #4c6fff;
  background-color: #f4f4f4;
  border-color: #002044;
  outline: 0;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.ant-layout-header .left-side .notification {
  position: relative;
  cursor: pointer;
}

.ant-layout-header .left-side .circle {
  position: absolute;
  top: 36%;
  right: 5%;
  background: #ba902e;
  border-radius: 12px;
  width: 10px;
  height: 10px;
}

.ant-layout-header .left-side .avatar {
  margin-right: 31px;
}

.ant-layout-header .left-side svg {
  color: #bfc8d1;
  font-size: 26px;
}

.ant-layout-header .left-side p {
  color: #fff;
  margin-right: 11px;
}

/* Layout */
/* width */
aside ::-webkit-scrollbar {
  width: 3px;
}

/* Track */
aside ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
          box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
aside ::-webkit-scrollbar-thumb {
  background: #ba902e;
  border-radius: 8px;
}

/* Handle on hover */
aside ::-webkit-scrollbar-thumb:hover {
  background: #ba902e;
}

/* 1) SideNav */
.ant-menu {
  padding-top: 30px;
  padding-bottom: 30px;
}

.ant-layout-sider {
  background: #fff;
}

.ant-layout-sider {
  min-width: 278px !important;
  width: 278px !important;
}

.ant-layout-sider.ant-layout-sider-collapsed .ant-layout-sider-children,
.ant-layout-sider.ant-layout-sider-collapsed {
  width: 110px !important;
  min-width: 110px !important;
}

.ant-layout-sider-children {
  position: fixed;
  width: 278px !important;
}

.ant-menu.ant-menu-root.ant-menu-inline.ant-menu-light {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 80px);
}

.ant-menu-item,
.ant-menu-submenu-title {
  min-height: 48px;
}

.ant-menu-item.ant-menu-item-only-child .ant-menu-title-content {
  font-weight: 400 !important;
}

.ant-layout-sider-children .logo {
  background-color: #002044;
  height: 80px;
  padding: 10px 41px 9px 20px;
  overflow: hidden;
}

.ant-layout-sider-children .logo img {
  max-width: 100%;
  max-height: 100%;
}

.ant-layout-sider-collapsed .logo {
  padding: 0;
  text-align: center;
  padding-top: 12px;
}

.ant-layout-sider-collapsed .logo img {
  width: 50%;
}

.ant-menu.ant-menu-sub.ant-menu-inline {
  background: #fff;
}

.ant-menu-title-content {
  text-align: right;
}

.ant-menu-submenu-arrow {
  right: unset;
  left: 16px;
}

.ant-menu-item,
.ant-menu-submenu-title {
  padding-right: 32px !important;
}

.ant-menu-item svg,
.ant-menu-submenu-title svg,
.ant-menu-submenu-title svg path {
  stroke: #9a9ab0;
  border-radius: 8px;
  display: block;
  padding: 12px;
  width: 48px;
  height: 48px;
}

.ant-menu-submenu-arrow {
  color: #9a9ab0;
  margin-left: 15px;
  margin-top: 2px;
}

.ant-menu-item span,
.ant-menu-title-content {
  color: #9a9ab0;
  font-size: 16px;
  font-weight: 600;
  margin-right: 8px;
}

.ant-menu-sub .ant-menu-item {
  min-height: 30px !important;
}

.ant-menu-sub.ant-menu-inline > .ant-menu-item,
.ant-menu-sub.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
  height: 30px;
}

.ant-menu-sub .ant-menu-item span {
  font-size: 14px !important;
}

.ant-menu-inline .ant-menu-submenu-title {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  padding-left: unset !important;
}

.ant-menu-inline.ant-menu-root .ant-menu-item {
  margin-top: 5px !important;
  margin-bottom: 10px !important;
  padding-left: unset !important;
}

.ant-menu.ant-menu-sub.ant-menu-vertical li {
  text-align: right;
}

.ant-menu.ant-menu-sub.ant-menu-vertical .minus {
  display: inline-block;
  margin-bottom: 3px;
}

/* Active item */
.ant-menu-item.ant-menu-item-selected {
  background-color: unset !important;
}

.ant-menu-item.ant-menu-item-selected::after {
  border-right: unset;
}

.ant-menu-submenu.ant-menu-submenu-selected svg,
.ant-menu-submenu.ant-menu-submenu-selected svg path,
.ant-menu-item.ant-menu-item-selected svg {
  background-color: #ba902e;
  stroke: #fff;
}

.ant-menu-submenu-arrow:hover,
.ant-menu-submenu-active:hover i {
  color: #ba902e !important;
}

.ant-menu-submenu.ant-menu-submenu-selected .ant-menu-item-selected span {
  color: #ba902e !important;
}

.ant-menu-submenu.ant-menu-submenu-selected .ant-menu-item-selected .minus {
  background-color: #ba902e !important;
}

input.ant-input {
  color: #000;
  font-weight: 600;
}

.ant-form-item-label {
  margin-bottom: 0 !important;
  text-align: right !important;
}

.ant-input-affix-wrapper {
  padding: 0 !important;
  border: none;
}

input.ant-input:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

input.ant-input:hover {
  border-color: #002044;
}

.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
  border-color: unset;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-right-width: 0px;
  outline: 0;
}

.ant-input:focus,
.ant-input-focused {
  border-color: unset;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.percentage {
  position: absolute;
  top: 8px;
  left: 14px;
  color: #002044;
  font-size: 14px;
}

.percentage-gold {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 8px;
}

.listed-input {
  width: 100%;
  position: relative;
  border: 1px solid #bbbbbb;
  border-radius: 5px;
  padding: 0px 1px;
}

.listed-input input {
  border: none;
  padding: 7px 24px 7px 7px;
}

.listed-input .bullet {
  background-color: #002044;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  right: 10px;
}

.listed-input input:focus .hint {
  display: none;
}

.listed-input .hint {
  color: #9d9d9d !important;
  line-height: unset;
  font-size: 14px;
  position: absolute;
  left: 15px;
  top: 6px;
}

.listed-input .items {
  padding: 20px 24px 7px 7px;
  background-color: #fff;
}

.listed-input .items p {
  position: relative;
  height: auto;
  padding: 0;
  margin-bottom: 1rem;
  line-height: 20px;
}

.listed-input .items p::before {
  content: '';
  position: absolute;
  top: 7px;
  right: -14px;
  background-color: #002044;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.listed-input .items p:last-child {
  margin-bottom: 5px;
}

input.inline-input {
  height: 42px;
  background: #ffffff;
  border: 1px solid #b4b5b8;
  border-radius: 5px;
  margin: 0 8px;
  padding: 8px;
}

input.inline-input::-webkit-input-placeholder {
  color: #7d7d7d;
}

input.inline-input:-ms-input-placeholder {
  color: #7d7d7d;
}

input.inline-input::-ms-input-placeholder {
  color: #7d7d7d;
}

input.inline-input::placeholder {
  color: #7d7d7d;
}

input.grey-input {
  height: 42px;
  background: #EFEFEF;
  color: #000;
  border: 1px solid #EFEFEF;
  border-radius: 5px;
  padding: 8px;
}

input.grey-input::-webkit-input-placeholder {
  color: #7D7D7D;
}

input.grey-input:-ms-input-placeholder {
  color: #7D7D7D;
}

input.grey-input::-ms-input-placeholder {
  color: #7D7D7D;
}

input.grey-input::placeholder {
  color: #7D7D7D;
}

.ant-picker {
  padding: 0 !important;
  padding-left: 8px !important;
  background: #ffffff;
  border: 1px solid #b4b5b8;
  border-radius: 5px;
  margin: 0 8px;
}

.inline-input .ant-picker-input {
  height: 40px;
}

.inline-input .ant-picker-input input {
  padding: 8px;
}

.inline-input .ant-picker-input input::-webkit-input-placeholder {
  color: #7d7d7d;
}

.inline-input .ant-picker-input input:-ms-input-placeholder {
  color: #7d7d7d;
}

.inline-input .ant-picker-input input::-ms-input-placeholder {
  color: #7d7d7d;
}

.inline-input .ant-picker-input input::placeholder {
  color: #7d7d7d;
}

.ant-picker-focused {
  border-color: unset;
  -webkit-box-shadow: unset;
          box-shadow: unset;
  border-right-width: 1px;
  outline: 0;
}

.ant-picker:hover, .ant-picker-focused {
  border-color: unset;
  border-right-width: 1px;
}

.ant-picker svg {
  fill: #4B506D;
}

.ant-select {
  background-color: #fff;
  padding: 3.8px 0;
  border: 1px solid #B4B5B8;
  border-radius: 5px;
  width: 186px;
  margin: 0 8px;
}

.ant-select-selection-placeholder {
  color: #7D7D7D;
}

.ant-select svg {
  fill: #4B506D;
}

.ant-select.ant-select-focused .ant-select-selector {
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border: unset;
  background-color: #fff;
  color: #000;
}

.ant-select-selection-item {
  font-weight: 600;
}

.ant-select-item-option {
  padding-top: 10px;
  padding-bottom: 10px;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: unset;
}

.single-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.single-option .icon {
  background-color: #fff;
  border: 1px solid #000;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.single-option .icon .selected {
  background-color: #000;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: none;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) .single-option .icon .selected {
  display: block;
}

.ant-select-selection-item .single-option .icon {
  display: none;
}

textarea.ant-input {
  background: #fff;
  border: 1px solid #B4B5B8;
  height: 73px;
  border-radius: 5px;
  margin-bottom: 26px;
  padding: 8px 12px;
  color: #000;
  font-size: 14px;
}

.ordered-input-list {
  position: relative;
}

.ordered-input-list .order {
  position: absolute;
  top: 6px;
  right: 10px;
  font-size: 16px !important;
}

.stock-fund-item .header {
  margin-top: 16px;
  margin-bottom: 9px;
}

.stock-fund-item .header h2 {
  font-size: 18px;
  font-weight: 700;
  color: #000;
  height: 34px;
  line-height: 34px;
}

.stock-fund-item .header .icon {
  margin-left: 9px;
}

.stock-fund-item .header svg {
  cursor: pointer;
}

.stock-fund-item .items-header {
  height: 61px;
  background: #002044;
  border-radius: 5px;
  padding: 18px 13px;
}

.stock-fund-item .items-header h4 {
  height: 34px;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
}

.navigate {
  margin-top: 56px;
}

.navigate .btn.prev,
.navigate .btn.next {
  height: 50px;
  font-size: 18px;
  border-radius: 5px;
}

.navigate .btn.prev {
  width: 184px;
  background: #ddd;
  color: #050505;
}

.navigate .btn.next {
  width: 230px;
  background: #002044;
  color: #ffffff;
}

.navigate .btn svg {
  margin-bottom: 2px;
}

.navigate .btn.prev svg {
  margin-left: 13px;
}

.navigate .btn.next svg {
  margin-right: 13px;
}

.sidebar-items {
  background-color: #fff;
  position: fixed;
  top: 80px;
  right: 0;
  width: 278px;
  height: calc(100% - 80px);
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0 16px 0 7px;
  -webkit-transform: translate(100%);
          transform: translate(100%);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  z-index: 999999999;
}

.ant-layout-sider-collapsed + section .sidebar-items {
  width: 110px;
}

.show-sidebar {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.sidebar-items .sidebar-header {
  margin: 40px 0;
  position: relative;
}

.sidebar-items .sidebar-header svg {
  position: absolute;
  left: 10px;
  top: 6px;
  cursor: pointer;
}

.sidebar-items .sidebar-header h6 {
  color: #000;
  font-size: 18px;
}

.sidebar-items .sidebar-header h6.title {
  text-align: center;
}

.sidebar-items .sidebar-header h6.title-sm {
  text-align: right;
  display: none;
}

.ant-layout-sider-collapsed + section .sidebar-items .sidebar-header .title {
  display: none;
}

.ant-layout-sider-collapsed + section .sidebar-items .sidebar-header .title-sm {
  display: block;
}

.sidebar-items .links {
  padding-right: 17px;
}

.ant-layout-sider-collapsed + section .sidebar-items .links {
  padding-right: 0px;
}

.sidebar-items .links li {
  margin-bottom: 15px;
  padding: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.sidebar-items .links li.active {
  background: rgba(0, 32, 68, 0.05);
  border-radius: 4px;
}

.sidebar-items .links li .number {
  display: none;
}

.ant-layout-sider-collapsed + section .sidebar-items .links li .number {
  display: block;
}

.sidebar-items .links li .icon {
  width: 36px;
}

.sidebar-items .links svg {
  margin-left: 18px;
}

.ant-layout-sider-collapsed + section .sidebar-items .links svg {
  margin-left: 0px;
}

.sidebar-items .links a {
  color: #002044;
  display: block;
}

.ant-layout-sider-collapsed + section .sidebar-items .links a {
  display: none;
}

/* width */
.sidebar-items::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.sidebar-items::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
.sidebar-items::-webkit-scrollbar-thumb {
  background-color: rgba(0, 32, 68, 0);
  border-radius: 8px;
}

.sidebar-items:hover::-webkit-scrollbar-thumb {
  background: rgba(0, 32, 68, 0.08);
  border-radius: 8px;
}

.items-sider {
  position: fixed;
  top: 80px;
  right: 0;
}

.btn.download-Shareholder-form {
  padding: 9.6px 19.2px;
  background: #002044;
  border: 1.2px solid #416a98;
  border-radius: 14.4px;
  color: #ffffff;
  font-weight: 500;
  font-size: 16.8px;
}

.btn.download-Shareholder-form svg {
  margin-left: 8px;
}

.btn.upload-Shareholder-form {
  padding: 9.6px 19.2px;
  background: #fff2d5;
  border: 1.2px solid #fdefd0;
  border-radius: 14.4px;
  color: #BA902E;
  font-weight: 500;
  font-size: 16.8px;
}

.btn.upload-Shareholder-form svg {
  margin-left: 8px;
}

.ant-card {
  border-radius: 5px;
}

.ant-card-head-wrapper {
  padding-top: 10px;
  padding-bottom: 13px;
}

.ant-card-head {
  border-bottom: 0;
}

.ant-card-head-title {
  font-size: 18px;
  font-weight: 500;
  color: #000;
}

.ant-card-body {
  padding: 0;
}

.under-construction-btn {
  color: #6f767e;
  font-weight: 600;
  font-size: 14px;
  border: 2px solid #6f767e3f;
  border-radius: 8px;
}

.under-construction-btn span {
  margin-right: 5px;
}

.records-card {
  background-color: #fff;
  border-radius: 5px;
  padding: 24px 18.5px 40px 18.5px;
}

.records-card .content {
  border: 1px solid #BBBBBB;
  border-radius: 6.0556px;
}

.records-card .content .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 81px;
  padding: 0 24px;
}

.records-card .content .header h5 {
  font-size: 18px;
  font-weight: 500;
  color: #000;
  margin-bottom: 0;
}

.table .ant-spin-container {
  padding: 0;
}

.ant-table-content thead tr th {
  background-color: #002044;
  color: #fff;
}

.ant-table-content thead tr th::before {
  background: unset !important;
}

.ant-table-container table > thead > tr:first-child th:first-child {
  border-top-left-radius: unset !important;
}

.ant-table-container table > thead > tr:first-child th:last-child {
  border-top-right-radius: unset !important;
}

.ant-table-content td,
.ant-table-content th {
  text-align: right !important;
  padding-right: 24px !important;
}

.ant-table-content td {
  color: #002044;
}

.home-table-action {
  position: relative;
}

.home-table-btn {
  height: 28px;
  background: #f1e9d5;
  color: #ba902e;
  border-radius: 5px;
  font-size: 12px;
  line-height: 1px;
}

.home-table-btn-review {
  position: absolute;
  top: 0%;
  width: 10px;
  height: 10px;
  background-color: #d0342c;
  border-radius: 50%;
}

.action-icons svg {
  visibility: hidden;
}

.action-icons svg.red {
  visibility: visible;
}

.ant-table-tbody tr:hover .action-icons svg {
  visibility: visible;
}

.large-table .ant-table-content tr {
  font-size: 12px;
}

.large-table .ant-table-tbody tr .action-icons svg {
  width: 20px;
  height: 20px;
}

@media (min-width: 1400px) {
  .large-table .ant-table-content tr {
    font-size: 14px;
  }
  .large-table .ant-table-tbody tr:hover .action-icons svg {
    width: 24px;
    height: 24px;
  }
}

.small-table .ant-table-content tr {
  font-size: 16px;
}

.ant-table-tbody > tr.ant-table-row-selected > td,
.ant-table-tbody > tr.ant-table-row-selected:hover > td {
  background: #fafafa;
  border-color: rgba(0, 0, 0, 0.03);
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #eee;
  border-color: #002044;
}

.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: #002044;
  background-color: #eee;
}

.ant-checkbox:hover .ant-checkbox-inner {
  border-color: #002044;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner {
  border-color: #002044;
}

.ant-checkbox-inner {
  border-color: #002044;
  background-color: #eee;
}

.ant-checkbox-checked .ant-checkbox-inner::after {
  border-color: #002044;
}

.ant-modal.newDocHolder-modal {
  width: 80% !important;
  border-radius: 4px;
  overflow: hidden;
}

.ant-modal.newDocHolder-modal .ant-modal-body {
  padding: 0;
}

.ant-modal.newDocHolder-modal .header {
  background-color: #EEE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
}

.ant-modal.newDocHolder-modal .header h6 {
  color: #002044;
  font-weight: bold;
  margin-bottom: 0;
}

.ant-modal.newDocHolder-modal .body {
  background-color: #F8F8F8;
  padding: 18px 16px;
}

.ant-modal.new-subscription-modal {
  width: 641px !important;
}

.ant-modal.new-subscription-modal .ant-modal-content {
  border-radius: 5px !important;
}

.ant-modal.new-subscription-modal .modal-title {
  font-weight: 700;
  font-size: 18px;
  color: #000;
  margin-bottom: 24px;
}

.ant-modal.new-subscription-modal .row {
  margin-bottom: 12px;
}

.ant-modal.new-subscription-modal .newSub-btn {
  background: #f4efe6;
  color: #ba902e;
  height: 46px;
  width: 286px;
  border-radius: 5px;
  padding: 8px;
  font-family: Cairo;
  font-size: 16px;
  font-weight: 600;
  text-align: right;
  letter-spacing: 0.3px;
}

.ant-modal.new-subscription-modal .newSub-btn.last {
  width: 581px;
  text-align: center;
  margin-top: 7px;
}

.ant-modal.new-subscription-modal .newSub-btn-svg {
  margin-left: 10.5px;
}

.ant-modal.new-subscription-modal .ant-modal-close-x {
  line-height: 50px;
}

.ant-modal.new-subscription-modal .ant-modal-close-x span {
  color: #000;
}

.ant-modal.help-modal {
  width: 496px !important;
}

.ant-modal.help-modal .ant-modal-content {
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.ant-modal.help-modal .header {
  margin-bottom: 24px;
}

.ant-modal.help-modal .header h4 {
  color: #002044;
  font-weight: 500;
  font-size: 20px;
  height: 37px;
  line-height: 37px;
}

.ant-modal.help-modal .ant-form-item-label label {
  font-size: 14px;
  font-weight: 600;
  color: #000;
}

.ant-modal.help-modal .ant-select {
  background-color: #fafbfc;
  padding: 10px 0;
  border-radius: 5px;
}

.ant-modal.help-modal .ant-select.ant-select-focused .ant-select-selector {
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
}

.ant-modal.help-modal
.ant-select:not(.ant-select-customize-input)
.ant-select-selector {
  border: unset;
  background-color: #fafbfc;
  color: #000;
}

.ant-modal.help-modal textarea {
  background: #fafbfc;
  border: 1px solid #efefef;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-35 {
  width: 35%;
}

.w-40 {
  width: 40%;
}

.w-45 {
  width: 45% !important;
}

.w-60 {
  width: 60% !important;
}

.w-65 {
  width: 65% !important;
}

.w-80 {
  width: 80% !important;
}

.w-90 {
  width: 90%;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fs-12 {
  font-size: 12px !important;
}

.fs-13 {
  font-size: 13px !important;
}

.fs-17 {
  font-size: 16.8px;
}

.mb-12 {
  margin-bottom: 12px !important;
}

.mb-32 {
  margin-bottom: 32px !important;
}

.mb-36 {
  margin-bottom: 36px !important;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mt-80 {
  margin-top: 80px;
}

.text-red {
  color: #D0342C !important;
}

.text-black {
  color: #000;
}

.text-grey {
  color: #4B506D;
}

.text-darkblue {
  color: #002044;
}

.text-lightblue {
  color: #5E7DB2;
}

.text-green {
  color: #4ECB71;
}

.bg-light {
  background-color: #E5E5E5;
}

.lh-23 {
  line-height: 23px;
}

.lh-26 {
  line-height: 26px;
}

.lh-29 {
  line-height: 29px;
}

.lh-45 {
  line-height: 49px !important;
}

.p-in {
  padding: 12px 27px 12px 14px;
}

.p-in-first {
  padding: 24px 27px 24px 14px !important;
}

.br-14 {
  border-radius: 14.5334px !important;
}

.flex-cvhb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=styles.css.map */