.disclosure-accordion {
  margin-bottom: 48px;
}
.disclosure-accordion .accordion-header {
  background: #002044;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.disclosure-accordion .accordion-header h5 {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 0;
}
.disclosure-accordion .accordion-header svg {
  cursor: pointer;
  transition: 0.2s;
}
.disclosure-accordion .accordion-header svg.show-info {
  transform: rotate(180deg);
}

.disclosure-accordion .accordion-content {
  padding: 24px 33px;
  background: #F1F1F1;
  border-radius: 5px;
}

.disclosure-accordion .accordion-content textarea {
  padding: 14px 18px;
  overflow: hidden;
}
.disclosure-accordion .accordion-content textarea.grey {
  background: #DEDEDE;
  border: 1px solid #DEDEDE;
}
.disclosure-accordion .accordion-content textarea.white {
  background: #FAFBFC;
  border: 1px solid #FAFBFC;
}

.disclosure-accordion .accordion-content label {
  margin-bottom: 10px;
  position: relative;
  line-height: 19px;
}

.disclosure-accordion .accordion-content .inline-input {
  border-color: #FAFBFC;
  height: 48px;
}

.disclosure-accordion .accordion-content .radio-box {
  background: #FAFBFC;
  border-radius: 8px;
  padding: 17px 18px;
}

.disclosure-accordion .accordion-content .radio-box .ant-radio-wrapper {
  margin-bottom: 0px;
}

.disclosure-accordion .accordion-content hr {
  margin: 60px 0;
}

.disclosure-accordion .accordion-content .num {
  font-size: 26px;
  font-weight: 700;
}

.disclosure-accordion .accordion-content .ant-select {
  border-color: #FAFBFC;
  padding: 8px 0;
}